[2019-09-03 17:59] xhlulu opened #2 "Examples with genomic and medical data"
Hello,

I'm really excited to try this library out. Particularly, I noticed this from the article:

Do you know if there is any existing examples using medical records? Thanks!

[2019-09-04 19:46] esparza83 commented on #2
Is there a particular format when combining with  ImageDataGenerator?
Error:
OperatorNotAllowedInGraphError: iterating over `tf.Tensor` is not allowed in Graph execution

[2019-09-04 22:26] arjung commented on #2
@xhlulu, Thanks for your interest in our framework! We don't have an example that uses medical records. You can do one of the following two depending on whether you already have a graph or not:

1. If you have such data represented explicitly as a graph, then you can convert it into a TSV format, which our framework expects.You can then run the ['pack_nbrs'](https://www.tensorflow.org/neural_struc

[2019-09-04 22:28] esparza83 opened #3 "Generators"
Is there a particular format when combining with ImageDataGenerator?
Error:
OperatorNotAllowedInGraphError: iterating over tf.Tensor is not allowed in Graph execution

[2019-09-05 19:47] arjung commented on #3
@esparza83, Could you give us more information on what you are trying to do, how you are using NSL, and which version of TF you are using?

It will also be great if you can paste a minimal relevant code snippet that will reproduce this problem.

[2019-09-05 20:11] esparza83 commented on #3
Im using TF 2.0 RC for image classification, Im trying to use a generator to fit the model, but it won't work if I use fit_generator.

train_gen = ImageDataGenerator(rotation_range=5,
                              width_shift_range=0.10,
                              height_shift_range=0.10,
                              horizontal_flip = True,
                              zoom_range=0.2,

[2019-09-05 20:17] arjung commented on #3
Are you using Neural Structured Learning?

[2019-09-05 20:28] esparza83 commented on #3
I tried to follow the example on the mnist data from here https://www.tensorflow.org/neural_structured_learning, but using my own data

[2019-09-05 23:32] csferng commented on #3
@esparza83, `AdversarialRegularization` assumes that its input batch to be a dictionary containing both `x` and `y`, while `ImageDataGenerator` generates input in `(x, y)` tuples. The mismatched format might cause the error.

One way to fill the gap is to create an intermediate generator function which converts tuples into dictionaries, as demonstrated below:

[code]

[2019-09-06 09:54] Milania1 opened #4 "Maximum number of neighbours in the imdb tutorial"
There is an inconsistency regarding the maximum number of neighbours to use in the tutorial. In the `Augment training data with graph neighbors` section, a maximum of 1 neighbour is mentioned. However, in the following run of the `pack_nbrs` tool the parameter `--max_nbrs=3` is used. The `HParams` object later specifies `self.num_neighbors = 2`.

If I had to guess, I would say it should be 2 neigh

[2019-09-06 12:56] xhlulu commented on #2
Thank you!

[2019-09-06 15:26] snash4 opened #5 "node classification [blogcatalog]"
Hello,
 Could you please share the experimental code of classification of nodes on blogcatalog dataset. It would be very helpful to understand the NSL framework.
Thanks.

[2019-09-06 15:31] desertnaut opened #6 "'nsl' tag in Stack Overflow does not yet exist"
Despite the guideline "_For questions, please direct them to Stack Overflow with the "nsl" tag_" in README, the said tag does not yet exist in SO:

https://stackoverflow.com/questions/tagged/nsl

and we already have the first question:

https://stackoverflow.com/questions/57823554/invalidargumenterror-cannot-update-variable-with-shape-using-a-tensor-with-s

[2019-09-06 17:21] #2 closed

[2019-09-06 17:56] arjung commented on #6
Thanks @desertnaut! The tag should be created when the question with the 'nsl' tag is posted on stack overflow.

Ref: https://stackoverflow.com/help/privileges/create-tags

[2019-09-06 18:59] arjung commented on #4
Thanks @Milania1 for running through our tutorial and for reporting the inconsistency! The only typo is in the text of the `Augment training data with graph neighbors` section (it should be 3 instead of 1). I will fix this shortly.

The value of HParams.num_neighbors can be any value in the inclusive interval [0,3]. This is because the input training data for graph-based NSL was generated (by the

[2019-09-06 19:56] arjung commented on #4
Fixed in https://github.com/tensorflow/neural-structured-learning/commit/6cb6b22174ba5f5d6b621443eb2b147831be320d.

[2019-09-06 19:56] #4 closed

[2019-09-06 20:12] arjung commented on #5
We don't have an example that uses the blogcatalog dataset. To understand how the NSL framework can be used, we recommend going through our [tutorials](https://github.com/tensorflow/neural-structured-learning/tree/master/g3doc/tutorials).

[2019-09-06 20:12] #5 closed

[2019-09-07 09:02] snash4 commented on #5
I was referring to the node classification experiment on blog-catalog in the paper.
What I understood from Figure 1(B)  from the paper is that you follow the edge model (Xi, Xj) i.e two FFNs and in the last layer, you perform the graph regularization. Correct me if I am wrong.
But, in the tutorial of Cora dataset, there is only one FFN with graph regularization which is different what the paper sh

[2019-09-07 14:39] razorx89 opened #8 "Metric computation broken when metric objects are used instead of string identifiers"
Example from https://www.tensorflow.org/neural_structured_learning:
[code]

Instead of passing 'accuracy' (string) as metric, an instance of the underlying metric class is passed to the compile function. It seems like the metric never gets updated, since the accuracy value stays at 0.0 while at the same time the loss decreases. This also happens with metrics which are not part of the default keras

[2019-09-08 11:47] itxiud2015 opened #9 "Will NSL work with TensorFlow 1.x ?"
I can see NSL work with TensorFlow 2.0, what about the earlier version of TensorFlow, for example the TensorFlow 1.4? Thanks.

[2019-09-09 10:15] desertnaut commented on #6
Cool - I have just created it - pls check and update the tag info as you see fit:

[https://stackoverflow.com/tags/nsl/info](url)

I am now closing the issue - thanks

[2019-09-09 10:15] #6 closed

[2019-09-09 17:51] csferng commented on #8
@razorx89 Thanks for reporting. I am looking into this.

[2019-09-09 19:05] arjung commented on #9
Thanks for the question, @itxiud2015. I think you meant TensorFlow 1.14 in your comment. NSL requires TensorFlow v 1.15 (currently available with the '[tf-nightly](https://pypi.org/project/tf-nightly/)' build) or higher. We will update our documentation shortly to explicitly mention this.

[2019-09-09 19:05] #9 closed

[2019-09-09 20:26] arjung commented on #5
Graph regularization using NSL is a generic technique and is not tied to the neural network architecture (such as FFNN with a set number of layers). Also, in a graph-regularized model, there is just one neural network/model, and neighbors of samples are passed through the same network as the samples themselves.

Hope this makes sense.

[2019-09-16 21:33] #8 closed

[2019-09-16 22:16] csferng commented on #8
@razorx89 The problem should be fixed now at the master branch, and the fix will be included in the next release. Please let us know if you see any other problem. Thanks.

[2019-09-18 09:35] nikogamulin opened #15 "fit_generator issue"
Hi, I tried to modify the logic according to [this suggestion](https://github.com/tensorflow/neural-structured-learning/issues/3) but haven't managed to run training procedure successfully.

**Here is the code:**

[code]

before trying to use Neural Structured Learning, I used get_generator; the code is the following:
[code]

Then, according to suggestion, I modified the above generator to output

[2019-09-19 06:42] thomasmooon opened #16 "general question: multi-modal dataset -> consider graphs not for all modalities"
Hello,

merging data and it's graph (explicitly given or created through an embedding e. g. as in the offical example [Graph regularization for sentiment classification using synthesized graphs](https://www.tensorflow.org/neural_structured_learning/tutorials/graph_keras_lstm_imdb#create_sample_embeddings)) is as easy like that

`graph_reg_model = nsl.keras.GraphRegularization(base_reg_model, graph

[2019-09-23 17:52] samedii opened #18 "Should we expect NSL to work with 2.0?"
Based on #9 I'm guessing maybe we should not expect it to work? Edit: #3 suggests that 2.0 should work however.

The example code on https://www.tensorflow.org/neural_structured_learning is not working with 2.0 but it works with 1.15

Note that when running tf-nightly-gpu you get the message:
`TensorFlow's `tf-nightly` package will soon be updated to TensorFlow 2.0. `

[2019-09-23 17:59] arjung commented on #16
Thanks for the question, @thomasmooon! First, I want to mention that `nsl.configs.GraphRegConfig` is not really specific to a modality or set of modalities. It is just a class that holds some configuration parameters for graph regularization such as the number of neighbors to consider, the multiplier to use, and so forth.

The general inputs to graph-based NSL are as follows:

1. Example features

[2019-09-23 18:18] #18 closed

[2019-09-23 18:18] samedii commented on #18
Okay, sadly none of the examples work even after trying for a little while. I will continue trying then. Thank you!

[2019-09-23 18:21] DualityGap commented on #18
Feel free to reopen this issue and maybe provide specific error you have encountered, so we can have more in-depth discussion.

[2019-09-24 01:27] csferng commented on #15
@nikogamulin, thanks for the question.

The `TensorBoard` callback object in TensorFlow 1.x doesn't work with subclassed models, and unfortunately `AdversarialRegularization` is one. Could you please try the code in TensorFlow 2.0?

[2019-09-25 10:32] jasiozaucha opened #19 "Issue with fit() function - problem with passing model containing multiple inputs"
While using standalone Keras my model worked fine but when I try adding adversarial regularisation I run into trouble with passing the inputs (I tried many ways but nothing works).

The details of my model are irrelevant but I must say that it has two separate inputs which are joined together later. The standard Keras model which worked looked like this:
`input0 = Input(shape=(50,3), name='input_A

[2019-09-25 11:47] thomasmooon commented on #16
Thank you very much @arjung , this is of great utility. I try this out and see how far I'll get. I'll give some feedback (but expect that this will take a while).

[2019-09-25 11:47] #16 closed

[2019-09-25 22:49] arjung commented on #16
Sounds good. Yes, please feel free to give us feedback/suggest improvements.

[2019-09-27 07:19] csferng commented on #19
@jasiozaucha, what is your TensorFlow version?

`AdversarialRegularization` expects inputs being passed like your method (2), i.e. a single dictionary containing all of feature and label tensors. For example, the following script (adapted from your snippets) can be run on Tensorflow 2.0.0rc2 and 1.15.0rc1 without error:

[code]

[2019-09-27 07:27] jasiozaucha commented on #19
Hi csferng, thank you for your answer. My version 2 does appear similar to your toy example.
The toy example unfortunately also does not run correctly. But the error I get at the fit step is:
"AttributeError: 'AdversarialRegularization' object has no attribute '_sample_weight_modes'"
My tf version is 1.11, so I guess the first step is to get my sysadmin to update tensor flow... I let you know how

[2019-09-27 20:31] csferng commented on #19
@jasiozaucha, please let us know if you still face the issue after updating TensorFlow.

BTW, if you are interested, you could also try [`virtualenv`](https://virtualenv.pypa.io/en/latest/) to create an isolated Python environment and to install a different version of TensorFlow (and other packages) from your host system.

[2019-09-27 21:10] jasiozaucha commented on #19
Yes, it is an issue with the tensor flow version. The update resolved the problem so you can close this issue. Perhaps, when installing neural structured learning you should indicate to users that it is critical to update tensor flow. Thank you for your help!

[2019-09-29 21:13] csferng commented on #19
Glad that the problem is resolved, and thanks for your suggestion.

[2019-09-29 21:13] #19 closed

[2019-09-30 20:12] samedii opened #21 "Loss defined by string works out-of-the-box but not tf.keras.losses.X"
The following works: `loss='binary_crossentropy'`, but stops working when replaced by: `tf.keras.losses.BinaryCrossentropy()`

~~Are we expected to define weights? Or are we maybe supposed to wrap our loss functions in nsl.keras.adversarial_loss?~~

~~Edit: Can define weight key with `sample_weight_key=`~~
Edit2: I realized that it's actually the shape of `values` that is incorrect. This seems lik

[2019-09-30 21:58] samedii opened #22 "Unexpected memory usage for efficientnetb1?"
I can train much larger models than efficientnetb1 without nsl (moreover, only the decoder is trainable here) without using much RAM. NSL's memory usage seems to be growing without end. Is this expected behaviour to use 13+ GB of RAM for this?

Edit: Using `nsl.keras.AdversarialRegularization`

Using this implementation: https://github.com/qubvel/segmentation_models/tree/master/segmentation_models

[2019-09-30 22:27] samedii commented on #21
Related to #8? Will try to install master instead

[2019-09-30 23:22] samedii commented on #22
Works with Unet + mobilenetv2 using 10 GB of RAM so it's probably at least not growing without bound.

[2019-10-01 00:27] samedii opened #23 "tf.keras.models.load_model does not work for nsl.keras.AdversarialRegularization"
Is there another intended way of saving model + optimizer?

[code]

[2019-10-01 18:53] csferng commented on #21
@samedii, Thanks for reporting the issue and the code for reproduction.

Yes, this is a bug, which is caused by `AdversarialRegularization` that creates a wrapper around the given `Loss` object (in this case `BinaryCrossentropy`); the wrapper expects to receive unaggregated loss values from the `Loss` object but actually gets an aggregated value.

We are working on fixing this issue. Meanwhile, a

[2019-10-01 20:12] samedii commented on #21
Thanks for the quick answer! Ah I see why this is needed for adversarial learning. Imo I think it's fine to just give an easier error message for new people and document this requirement

[2019-10-01 23:00] samedii commented on #23
An alternative seems to be to use `model.save_weights` and:
1. Initialize model via code
2. Compile with the same optimizer
3. Use `model.load_weights`

Have not confirmed this works correctly but at least some optimizer weights are saved.

[2019-10-02 22:12] csferng commented on #23
@samedii, would you mind sharing your goal of saving and restoring `AdversarialRegularization` models?

Given that `AdversarialRegularization` is mostly stateless (except the base model and compile options), a workaround could be to save the base model, create a new `AdversarialRegularization` from the restored base model, and compile with the same optimizer & loss.

[2019-10-02 22:50] samedii commented on #23
Thanks for your answer! The only "need" is that It is normally a simple way of loading the model to continue training. It was an artifact from my code before adding `AdversarialRegularization`. Is your alternative better than the option I outlined above?

Sidenote: As you say, `AdversarialRegularization` should be stateless so I will try to recreate my issues with memory usage of `AdversarialRegul

[2019-10-04 18:37] #21 closed

[2019-10-04 20:52] csferng commented on #21
The fix is checked in and will be included in the next release. The workaround will no longer be needed afterward.

[2019-10-05 11:46] ageron opened #25 "Add __version__ (PEP 396)"
This project should expose its version as `nsl.__version__` to respect [PEP 396](https://www.python.org/dev/peps/pep-0396/).

[code]

[2019-10-05 16:20] razorx89 opened #26 "Broadcasting error when using tf.keras.losses.Loss based losses instead of functions"
Modified example from the introductory example (don't punish me for using a regression loss on a classification task, it is just for demonstration):
[code]
The first three fit invocations run fine, however, the fourth fails with a broadcasting exception:
[code]
This seems to happen so far only for losses subclassed from the `tf.keras.losses.Loss` base class.

[2019-10-05 16:39] razorx89 opened #27 "Wrong input tensor to placeholder assignment"
The following code shows the introductory example with a simple modification. It uses an additional input tensor with (random) meta information, aka wide&deep model. Both input layers are named, so the normal behaviour of the keras model would be to make a name lookup and assign the values based on the key in the input dictionary. However, with the adverserial regularized model, the inputs seem to

[2019-10-06 09:53] razorx89 commented on #27
This also happens when using `nsl.keras.adversarial_loss` in a custom training loop.

[2019-10-06 10:01] razorx89 opened #28 "Adverserial loss should call model with training argument"
With regard to custom training loops, the current implementation of the adverserial loss does not call the model with a training argument. Thus when using BatchNormalization and custom training loops this leads to incorrect behaviour, since the batch statistics are not updated for the adverserial examples. Since the adverserial loss is only useful in training mode it should be safe to always call

[2019-10-06 21:39] csferng commented on #26
Thanks for reporting the issue. This is the same as #21 and is fixed at b2bf5c1. The fix will be included in the next release. A temporary workaround is to set `reduction=tf.losses.Reduction.NONE` in the constructor of the `Loss` object.

[2019-10-06 22:12] csferng commented on #25
Thanks for the suggestion. We will include `__version__` in the next release.

[2019-10-07 07:51] razorx89 commented on #26
Great, thanks.

[2019-10-07 07:51] #26 closed

[2019-10-07 10:52] nikogamulin commented on #15
Thanks, @csferng! I have migrated to TF 2.0 and everything works fine now.

[2019-10-07 10:52] #15 closed

[2019-10-07 20:37] csferng commented on #27
Thanks for reporting the issue.

`AdversarialRegularization` calls `adversarial_loss`, which in turn calls `model(input)`. Unfortunately `model.__call__` doesn't handle the name lookup. Following your example, this won't work:

[code]

An alternative way is to create Keras models with dictionary input, so that the model will sequence the input features in a consistent order. Both `AdversarialRegul

[2019-10-07 22:05] csferng commented on #28
Thanks for brining up this issue and sharing the pointers.

We will add a parameter to `adversarial_loss` so that additional arguments can be passed to the model.

An interim workaround would be wrapping the model in a function, like what is done in `AdversarialRegularization`:
https://github.com/tensorflow/neural-structured-learning/blob/aad3635811d871030c1b5af4325b0f68750c5295/neural_structured_

[2019-10-07 22:53] #25 closed

[2019-10-08 11:44] razorx89 commented on #27
This is indeed a problem when using `adverserial_loss` directly. However, there is still a different behaviour between `tf.keras.Model` and `nsl.keras.AdversarialRegularization`. If I am wrapping the base model with the regularization model, then I would expect the same behaviour when calling `fit`.

Actually, I did not know that one can define the model inputs with a dictionary. Almost all tutori

[2019-10-08 22:26] #28 closed

[2019-10-10 22:59] csferng commented on #23
After another look, I think `save_weights`+`load_weight` might be a better fit for continuing training, while saving the base model is an easier path for exporting an inference model.

Closing this now.

[2019-10-10 22:59] #23 closed

[2019-10-10 23:08] csferng commented on #27
We are working on a solution for the issue of mismatched input order.

FYI, one tutorial showing a model with dictionary input is [here](https://www.tensorflow.org/tutorials/load_data/pandas_dataframe#alternative_to_feature_columns).

[2019-10-21 15:19] ggerogiokas opened #31 "NSL, errors when trying to build a mlp classifier with float features"
Hi all,

I am trying to run nsl on some of my own data but getting some issues reading the training data into the mlp model in my code.

The code is basically a combination of the first two tutorials.

I have my own embedding values and then use those to define a graph using your build_graph tool, running:
`python nsl_repo/neural_structured_learning/tools/build_graph.py  train.tfr  train_graph.tsv

[2019-10-21 17:47] arjung commented on #31
Thanks @ggerogiokas for your question.

Since some examples may not have any neighbors (based on the similarity threshold chosen), you'd want to assign default values for all 'neighbor features' in your input layer before invoking the tf.io.parse_single_example() function. The default value will be the same as the one used for the sample's 'embedding' feature.

So, you'd change your example as fol

[2019-10-22 09:06] ggerogiokas commented on #31
Thanks that worked a charm.  I forgot to set up the default values!

[2019-10-22 09:06] #31 closed

[2019-10-22 13:54] ppham27 commented on #22
Memory usage will always be higher in adversarial training to some degree, but that does seem excessive. I wonder if some of the overhead is coming from the separate gradient tape. In an image model the activations are rather large, and the tape caches all intermediate activations. Ideally, common subexpression elimination should catch this, though, when the training loop is being compiled. What v

[2019-11-05 09:55] ggerogiokas opened #33 "link prediction?"
Hi,

I have been thinking about using NSL in the context of link prediction.  It can definitely be reframed as a classification problem I believe.  The only thing I am wondering about is if anyone has thought of an elegant way to add the neighbours (I guess in this case of both nodes which form the link ).  Has anyone been working on this?

I guess a decent way of going about it would be changing

[2019-11-07 02:28] DualityGap commented on #33
Hi George,

Yes, modifying 'parse_example' (or design other functions) to return a pair of examples sounds feasible. Happy to discuss further if you have any thought/suggestion.

Cheers,
Da-Cheng.

[2019-11-07 16:33] ggerogiokas commented on #33
Hi Da-Cheng,

Cool, I think I will go with modifying the function, parse_example, to get another function, parse_link, and try to design some other function to grab associated neighbours of the link.

I can contribute the code once it's functional if that is of interest?

Cheers,
George

[2019-11-07 18:44] DualityGap commented on #33
Sounds great : )
Meanwhile, feel free to share your idea or implementation (even at early stage), happy to discuss.

[2019-11-07 20:15] ppham27 commented on #33
Another approach we could take is to generalize preprocessing/parsing tools to generate random walks instead of just neighbors.

This would enable us to do combine NSL with graph likelihood defined here [Learning Edge Representations via Low-Rank Asymmetric Projections
](https://arxiv.org/abs/1705.05615).

[2019-11-11 10:38] ggerogiokas commented on #33
@ppham27 yea, that definitely could be another option but will focus on the other approach first.

[2019-11-14 00:54] arjung commented on #33
@ggerogiokas, thanks for your interest in NSL! I am assigning this issue to you for now since you are prototyping the proposed approach(es). Feel free to pass it back to us once you have something or want to discuss more.

[2019-11-19 23:37] ksachdeva opened #35 "Can not invoke 'summary' on the instance of AdversarialRegularization instance"
Hi,

nsl.keras.AdversarialRegularization is a subclass of tf.keras.Model

When I invoke summary() on the instance of AdversarialRegularization I get an error saying the model needs to be built

[code]

This is happening because even though the 'base_model' is built the wrapper one i.e. instance of AdversarialRegularization is not.

[2019-11-20 00:37] ivan-vasilev opened #36 "ImportError: cannot import name 'configs' from 'neural_structured_learning'"
After installing neural_structured_learning with pip, I can successfully do:

import neural_structured_learning as nsl

But when I try:

from neural_structured_learning import configs

I get the following error:
ImportError: cannot import name 'configs' from 'neural_structured_learning'

I'm using python 3.7

[2019-11-20 15:21] ksachdeva opened #37 "Api could be more flexible to entertain various common scenarios"
Hi,

Here are some use cases to motivate and show the limitations happening because of current api -

In classification models, it is not uncommon to use labels as inputs. These labels are passed to custom layers that use them to store information and use them as keys and/or use them to compute loss.

[code]
Above is a pseudo code to show one such example. Indeed in my set of experiments where I t

[2019-11-20 17:43] DualityGap commented on #36
You should be able to invoke the config module by 'nsl.configs' (instead of a separate importing).

[2019-11-20 17:49] arjung commented on #36
@ivan-vasilev, I tried importing `configs` the way you did and it worked for me. Below is sample output from a python shell.

`
Python 3.7.5rc1 (default, Oct  2 2019, 04:19:31)
[GCC 8.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

`

[2019-11-21 23:45] csferng commented on #35
Thanks for your interest.

`nsl.keras.AdversarialRegularization` creates subclassed Keras models, so calling `.summary()` won't work until the model is **called** with some input. The reason is that the computation of a subclassed Keras model is defined in its `call` function (a piece of Python code), and the model architecture is unknown to Tensorflow engine until the `call` function is executed.

[2019-11-22 01:58] csferng commented on #37
Thanks for your suggestion and the detailed examples, @ksachdeva.

`AdversarialRegularization` couldn't automatically check what inputs `self.base_model` expects for some kinds of base models. Specifically, models created with Keras subclassing API won't have such information available until the base model is called. And we have to decide what inputs to be passed to the base model before calling i

[2019-11-25 14:00] ksachdeva commented on #37
Thanks @csferng for feedback on this. What you suggest makes sense. I will try the `feature_mask` shortly

[2019-12-04 01:36] csferng commented on #22
@samedii, sorry for the super late reply.

I managed to reproduce the issue with EfficientNet using TensorFlow 2.0. As @ppham27 mentioned, the intermediate activations for the adversarial examples did cost some extra memory. Also Keras model subclassing (which `AdversarialRegularization` does) seems to be taking some space as well.

Thankfully the situation is much improved with the recent TensorF

[2019-12-04 01:36] #22 closed

[2019-12-04 05:47] arjung commented on #36
Closing the issue as we don't think there is a bug here.

[2019-12-04 05:47] #36 closed

[2019-12-09 14:48] boraturant opened #38 "Graphnet, GraphSage comparison"
Hi,

Any comment on how NSL positioned with respect to DeepMind's Graphnet, or Graphsage?

[2019-12-09 16:21] othmaneDaanouni commented on #3
I passed two days trying to use Neural Structured language to adapt into  CNN Model I use ImageDataGenerator and flow_from_directory when I use model.fit_generator I got an error message:

**i use Keras 2.3.1 and TensorFlow 2.0 as backend**

this is a snipped of my code :
[code]
**I adapte Datagenerated from (x,y) format to a dictionary format**
[code]
**your help gays are very appreciated**

[2019-12-09 19:09] #35 closed

[2019-12-13 02:40] csferng commented on #3
@othmaneDaanouni, thanks for your interest. Please provide a bit more details to help us reproduce the error.

The base model in your example is empty. Could you share the model architecture that you actually use?
[code]

Also the model has to be compiled before running `.fit_generator`. What are the arguments you use to compile the model, namely the optimizer and the loss?
[code]

[2019-12-13 10:15] othmaneDaanouni commented on #3
think you very much for your reply this is the base model :
[code]
and model.compile arguments :
[code]

[2019-12-14 10:29] sezan92 opened #39 "minor issue"
i saw some code mistake in the tensorflow blog of nsl. how can i correct it?

[2019-12-16 20:32] arjung commented on #39
Thanks @sezan92 . Could you provide more information on what the mistake is? I don't think you'd be able to edit the blog yourself.

[2019-12-17 01:49] sezan92 commented on #39
here, https://medium.com/tensorflow/introducing-neural-structured-learning-in-tensorflow-5a802efd7afd
[code]
This line is mistake. i checked the source code. the adv_config should be third argument. second argument is a dict.

[2019-12-18 23:13] csferng commented on #39
Thanks @sezan92 for reporting the issue. The `adv_config` is intended to be a keyword argument, so that line should be
[code]
We will update the blog post soon.

[2019-12-19 01:22] csferng commented on #3
@othmaneDaanouni, I haven't been able to fully reproduce the error you encountered yet, but I just noticed that the `convert_*_generator` functions should `yield` the results but not `return` them (so that the return values are generators):

[code]

More information about the `yield` keyword and Python generators could be found [here](https://stackoverflow.com/a/231855).

[2019-12-26 04:09] csferng commented on #39
The blog post has been updated.

[2019-12-26 04:09] #39 closed

[2019-12-28 00:18] sagihaider opened #40 "Can't implement GridSearchCV"
Dear,
I am trying to implement GridSearchCV on EEG-based BCI dataset.
I am unable to implement GridSearchCV may be because of your model needs input in dict and GridSearchCV in not accepting it. Any suggestion?

My Colab notebook is: https://github.com/sagihaider/EEG_Deep/blob/master/main_Single_Trial_Classification_EEGNet_NSL_2A_Grid_Search.ipynb

[2020-01-02 14:47] csferng commented on #40
@sagihaider, thanks for your question.

As you mentioned, `sklearn.model_selection.GridSearchCV` expects a scikit-learn "estimator," which is a single-input single-output model. And the wrapper converting a Keras model to a scikit-learn estimator, `keras.wrappers.scikit_learn.KerasClassifier`, only supports `keras.Sequential` models [1]. Unfortunately, this doesn't support `nsl.keras.AdversarialRe

[2020-01-08 05:26] yenhao opened #41 "ValueError in the tutorial on Colab environment"
Hello

The ValueError error `Insufficient elements in branch_graphs[0].outputs.` is found in both Neural Graph Learning tutorials (sentiment and document classification).

Both happen during the training of `graph_reg_model.fit()` process.
The error messages are shown below, I think it is due to the same issue.

- Graph regularization for document classification using natural graphs

[code]

- Gra

[2020-01-08 06:39] arjung commented on #41
Thanks for raising the issue! This is caused by an underlying bug in TensorFlow, the fix for which is on master but not in TensorFlow 2.1.0-rc1/2.1.0-rc2. Since the NSL tutorials currently seem to be using 2.1.0-rc1, they are impacted by this bug.

We have reached out to the TensorFlow team on how to work around this and will get back to you once we hear from them.

[2020-01-15 22:32] #27 closed

[2020-01-21 20:07] arjung commented on #41
Hi @yenhao, thanks for your patience. We are going to update the NSL graph tutorials to use TF 2.2.x instead to work around the TF bug in v2.1.

[2020-01-21 21:17] arjung commented on #41
Fixed by https://github.com/tensorflow/neural-structured-learning/commit/de5989351d3347c217ee02b8032b1c13be6dc968

[2020-01-27 10:23] byronyi opened #43 "NSL vs graphical neural network?"
Thanks for open sourcing NSL! Recent contribution activity looks very promising for an open source project.

I am no expert in NSL. In the past, I see multiple existing projects trying to provide building blocks for graphical neural networks:

* [GraphNets](https://github.com/deepmind/graph_nets)
* [Deep Graph Library](https://www.dgl.ai/)
* [Torch-Geometric](https://github.com/rusty1s/pytorch_geo

[2020-01-31 17:46] pascoa-pand opened #44 "Introducing Val_data in Fit function"
Hello guys,

I was trying NSL out, but I was unable to run `.fit` with my validation data. What is the correct way to do it?

The following seems to be working just fine:
`adv_model.fit({'feature': Xtrain_array, 'label': Ytrain_array},epochs=20)`

- Xtrain_array is a np.array (shape= (20410, 70, 7, 1))
- Ytrain_array is a np.array (shape= (20410,4))

I tried converting the training and test arrays

[2020-02-03 18:27] csferng commented on #44
@pascoa-pand, thanks for the question.

What is your Tensorflow and NSL version?

I am able to run `.fit` with validation data (set to a `tf.data.Dataset` object) using TF 2.1.0. The following code (based on the example [here](https://colab.research.google.com/github/tensorflow/neural-structured-learning/blob/master/g3doc/tutorials/adversarial_keras_cnn_mnist.ipynb)) works on Google Colab:
[code]

[2020-02-10 22:00] smestern opened #45 "Regardless of Epochs some dataset's returning 'graph_loss: 0.0000e+00'"
Hello,
I am a bit new to the world of deep NN so there may be a simple answer to this.
I am using two custom dataset's both (aprox. 2500 samples large, shape (700,1)). I have been using a graph neural network on both.  One appears to be functioning normally, however, the other consistently has a graph_loss of 0.0000e+00 regardless of number of epochs.
Is this to be expected? Does this mean that th

[2020-02-11 00:03] arjung commented on #45
Thanks for the question, @smestern. In general, a graph loss of 0 means that a sample's embedding/prediction matches that of its neighbors. However, I am not sure if that is genuinely the case in your workflow or if there is some sort of a pilot error. Could you provide more details on your workflow?

How are you invoking the graph regularization APIs in NSL? What graph-specific hyperparameters (n

[2020-02-11 15:49] smestern commented on #45
Hello, I fear It is likely a pilot error. The dataset itself consists of feature vectors of raw waveforms recorded from neurons using patch-clamp electrophysiology.
To build the graph, I am using previously computed sparse principal component values (~14 PC) for each waveform as the 'embeddings' (not sure if this is an appropriate use). Then I use the build graph function and the pack neighbours'

[2020-02-11 23:44] csferng commented on #40
Closing this issue for now. Feel free to reopen if you have further questions.

[2020-02-11 23:44] #40 closed

[2020-02-12 20:58] arjung commented on #45
Thanks @smestern! Just from your description above, I don't see anything obviously amiss. Are you seeing the graph loss to be 0 in training mode? During evaluation, the graph loss is expected to be 0 because we don't compute it then.

To help debug further, it might help to reduce the # input examples/batch size in your data set. You can also try and print the sample's logits and the neighbor's lo

[2020-02-14 05:33] litaxc commented on #38
Also interested in this topic.

[2020-02-17 00:20] csferng commented on #3
The problem turned out to be the difference between `keras.models.Sequential` and `tf.keras.models.Sequential`. The `keras` version requires the input to be a tensor or a list of tensors, while the `tf.keras` version flattens the input internally so the latter could handle dictionary-style input.

Your code should work after changing the import lines from `from keras.X import Y` to `from tensorflo

[2020-02-17 00:20] #3 closed

[2020-02-17 04:04] joelowj opened #48 "Possible for NSL to be use in Seq2seq setting?"
Hi Team,

I chanced upon NSL framework and would like to say that this is an amazing work. I am currently working on some Structured Prediction task and would like to explore this framework. But I am not too clear if is is possible for this framework can be extended to say a Seq2Seq problem? Based on your experience and familiarity is it possible to do so? At the moment, is it possible for me to p

[2020-02-17 21:10] #45 closed

[2020-02-19 11:06] basque21 commented on #41
Hi, I'm having the same problem in Colab, and I can't install the 2.2.x version. Do you know how can I do it in colab? the latest version available with pip is 2.1...

[2020-02-19 17:39] arjung commented on #41
Hi @basque21, both the NSL graph tutorials should be working and use a nightly build of TF 2.2.x. In particular, they use the following command:

`pip install --quiet tf-nightly==2.2.0.dev20200119`

Hope this helps.

[2020-02-23 00:47] DualityGap commented on #48
Thanks for the question, Joel : )

Yes, it is possible to extend this framework to Seq2Seq problems.
For example, see Figure 1(D) in this [paper](https://arxiv.org/pdf/1703.04818.pdf).
A graph can be used to regularize the output of an encoder, and then this encoder output (embedding) will be sent to the decoder in a Seq2Seq setting.

Regarding your 2nd question, packing more than one graph may re

[2020-02-23 00:47] #48 closed

[2020-02-23 01:16] DualityGap commented on #43
Hey Bairen,

Thanks for the great question : )

First, NSL is a [TF library and part of TF ecosystem](https://www.tensorflow.org/neural_structured_learning), which means users can enjoy all the nice features (eager execution, Keras APIs, distributed training, etc) from TF2.0 when using NSL.
Several libraries you mentioned are implemented in other platforms such as PyTorch.

In terms of graph algor

[2020-02-23 01:16] #43 closed

[2020-02-23 01:35] DualityGap commented on #38
Hey Bora & Lita,

Thank you for your interests in NSL : )

First, NSL is [a TF library and part of TF ecosystem](https://www.tensorflow.org/neural_structured_learning), which means users can enjoy all the nice features (eager execution, Keras APIs, distributed training, etc) from TF2.0 when using NSL. NSL also provides [graph tools](https://www.tensorflow.org/neural_structured_learning/api_docs/py

[2020-02-23 01:35] #38 closed

[2020-02-23 01:59] joelowj commented on #48
@DualityGap cool, thanks a lot for the clarification. Have a nice day!

[2020-03-18 03:08] vinayprabhu commented on #41
@arjung
Can you please reconfirm the version # ?
ERROR: No matching distribution found for tf-nightly==2.2.0.dev20200119

[2020-03-18 03:31] arjung commented on #41
@vinayprabhu , thanks for your comment. Unfortunately that version no longer exists on PyPi. Our tutorials for graph regularization are currently using the following nightly build version: `2.2.0.dev20200218`.

This version will be subject to change until the underlying TensorFlow bug is fixed in TF 2.2.0.

[2020-03-25 06:40] basirshariat commented on #41
I upgraded to 2.2.0rc1 and i get this error when the fit of the base model is called:

/python3.7/site-packages/tensorflow/python/keras/engine/input_spec.py:216 assert_input_compatibility
        ' but received input with shape ' + str(shape))

    ValueError: Input 0 of layer dense is incompatible with the layer: expected axis -1 of input shape to have value 1433 but received input with shape [No

[2020-03-25 12:07] aczw900 commented on #41
Which nightly version is currently being used for your tutorials for graph regularization?
ERROR: No matching distribution found for tf-nightly==2.2.0.dev20200218

[2020-03-25 21:15] arjung commented on #41
Thanks @basirshariat and @aczw900! We realized that the nightly pinned versions are on PyPi only for 1 month. So, we updated our graph regularization tutorials in https://github.com/tensorflow/neural-structured-learning/commit/f4b302c0e00c9f90ee93393b5c7bfbb715bc929d to use TF `2.0.1`, which is a stable version.

We are actively looking into getting this addressed soon for TF 2.2, which is still u

[2020-04-06 22:08] #37 closed

[2020-04-08 10:07] santhoshkolloju opened #50 "NSL for Regression"
I was able to integrate adversarial loss to my TensorFlow model, My input data has combination of categorical and continuous attributes.
Is there any way to specify not to perturb categorical data while creating adversarial examples?

[code]

[2020-04-08 20:31] aheydon-google commented on #50
Hi, Santhosh.

Yes, in the `AdvRegConfig`, you can specify an `AdvNeighborConfig` via the `AdvRegConfig.adv_neighbor_config` field. The `AdvNeighborConfig.feature_mask` field can be used to control which of your input features to perturb: specify 0.0 in the `feature_mask` for your categorical features, and 1.0 for the continuous features. Here's the unit test that tests how feature masks are appli

[2020-04-09 03:23] santhoshkolloju commented on #50
Thank you that worked

[2020-04-09 05:24] santhoshkolloju commented on #50
I couldn't find any example for TensorFlow model in the API, Is this the right way to implement or do suggest any corrections
[code]

[2020-04-09 10:19] sayakpaul opened #51 "Support for ImageDataGenerators"
Hi,

I am currently putting together a talk on *Image Adversaries 101* that would include the following:
- Adversaries as an optimization problem
- Creating perturbations that do not hurt the eyes
- Create end-to-end image adversaries
- Neural Structured Learning for creating robust models

I have put together a [basic Colab Notebook](https://colab.research.google.com/drive/14WEpzKW7IHV4M08QXoTLEU

[2020-04-09 21:45] csferng commented on #50
Hi Santhosh,

The overall structure of your code looks fine. One thing you might want to change is the `loss`. Instead of setting `loss` to the mean of (signed) errors, you might want it to be the mean of absolute errors `tf.reduce_mean(tf.abs(error))`, or squared errors `tf.reduce_mean(error**2)`.

Besides, you may also consider using the Keras API to build and train models, which could simplify

[2020-04-09 22:53] csferng commented on #51
Hi Sayak,

Thanks for your interest in NSL! The structure looks good in general.

Regarding `ImageDataGenerator`, NSL does support generator-style input, but requires each generated element to be a `dict` containing both input and label features. To make it work with `ImageDataGenerator` (which generates `(image, label)` tuples), you may add a converter for tuple-to-dict mapping:

[code]

The conv

[2020-04-10 02:19] sayakpaul commented on #51
Thanks a ton for this solution. I was able to train the adversarial model, though as you'd see in the Colab notebook I mentioned. If you have any recommendations that'd be great.

It was amazingly easy to plug NSL in and use it off-the-shelf :)

[2020-04-11 11:44] #50 closed

[2020-04-12 18:22] greatsharma opened #52 "How to fit using validation_set?"
Hey I am new to NSL, I want to know how to fit the nsl model using validation set. In the traditional keras model I used to do this -

[code]

When I passed validation_set to NSL model it throwed me error. How to do this with NSL?

I want this because my model is terribly overfitting, 99.916% accuracy on train and just 79.737% on validation test when tested individually after training is over. I t

[2020-04-12 18:27] greatsharma commented on #52
Also how I replicate this entire thing to NSL, like train_datagen, callbacks etc.

[2020-04-14 12:13] greatsharma commented on #52
@csferng  @arjung please give some guidance. There are very less resources on NSL over the internet.

[2020-04-14 20:35] csferng commented on #51
Thanks, Sayak.

We generate adversarial examples from the base model because it is the model in the beginning that we would like to identify vulnerability on and improve upon. Besides this kind of "white-box" attack, we also have vision to explore other adversarial methods including gray-box (transfer) attacks and black-box attacks.

[2020-04-14 21:30] csferng commented on #52
Hi Gaurav,

I assume you are using `nsl.keras.AdversarialRegularization` since you mentioned `adv_step_size`. And given that your model is for image recognition, I assume `train_datagen` is something like `tf.keras.preprocessing.image.ImageDataGenerator`.

Regarding arguments for `fit_generator` (or `fit` in gengeral), `nsl.keras.AdversarialRegularization` expects each example in training and vali

[2020-04-15 03:03] sayakpaul commented on #51
Wow! Thanks for providing more explanations.

Do you mind giving a quick look at the deck I would prepare for the talk I mentioned above? That'd be really helpful. If not I can definitely respect your schedule :)

[2020-04-15 03:03] #51 closed

[2020-04-15 07:38] greatsharma commented on #52
Thankyou for your reply @csferng

I tried your code snippet, but got the following error :

`
ValueError: Please provide model inputs as a list or tuple of 2 or 3 elements: (input, target) or (input, target, sample_weights) Received {'image': <tf.Tensor: shape=(32, 48, 48, 1), dtype=float32,
`

here what my code looks like -

The base_model here is deep CNN
[code]

Although I know debugging others

[2020-04-16 23:51] csferng commented on #52
The `ValueError` happens when the `adv_model` (which is a subclassed Keras model) is compiled with a generator-style input at its first `fit`/`evaluate`/`predict` call. The requirement of providing inputs as "a list or tuple of 2 or 3 elements" is lifted in the latest Tensorflow 2.2.0-rc3, which hopefully will become an official release soon.

For TensorFlow 2.1, a workaround is to call the `adv_m

[2020-04-17 07:01] greatsharma commented on #52
thankyou very much @csferng  it finally worked. Just few more things, how to call predict on `adv_model`  I tried the traditional keras way `adv_model.predict(X_test)` and got this error,

`Error when checking model input: the list of Numpy arrays that you are passing to your model is not the size the model expected. Expected to see 2 array(s), for inputs ['image', 'label'] but instead got the fol

[2020-04-20 17:54] csferng commented on #52
For predicting without label information, please use the `base_model` instead.

Regarding `max_nbrs`, it is used for specifying the number of neighbors to be considered in graph regularization. Graph regularization utilizes existing structured signals (represented by a graph of neighbors), while adversarial regularization generates the neighbors based on adversarial perturbations.
Please see our t

[2020-04-21 05:03] greatsharma commented on #52
ok thankyou :)

[2020-04-21 05:03] #52 closed

[2020-04-26 09:55] sdabhi23 commented on #33
@ggerogiokas I am also interested in this aspect of NSL. Did you make any progress on this idea??

[2020-04-26 10:22] ggerogiokas commented on #33
Hi,

Yea unfortunately, I have this low on my priority list.  Haven't had time
to do this!  Though one simple thing you can do is just treat edge
embeddings as node embeddings and then you have to redefine the network.

George

On Sun, 26 Apr 2020, 10:56 Shrey, <notifications@github.com> wrote:

[2020-04-28 05:41] sayakpaul opened #57 "StagingError appears for TensorFlow 2.2.0-rc3"
Hi

I am primarily trying to train an adversarial variant of a custom image classifier. The code works perfectly fine when I am on TensorFlow 2.1.0, 2.2.0-rc2. But the same code breaks on TensorFlow 2.2.0-rc3 producing:

[code]

Here's the [Colab Gist](https://colab.research.google.com/gist/sayakpaul/66e928af2fa479be3c758c9f0936ce8f/adversarial_training_nsl.ipynb) that produces this issue. Here's

[2020-04-29 22:23] csferng commented on #57
Thanks for bringing this up. In short, please change the dictionary key of input images from `"image"` to `EXTRACTOR.input_names[0]` or `base_adv_model.input_names[0]`. The reason is as follows:

Recently TensorFlow made a change on handling dictionary-format input when a model is called directly (e.g. `model(input_dict)`). Before the change, the `input_dict` is flattened to a list (ordered by key

[2020-04-30 01:36] sayakpaul commented on #57
I see. I will try it out and will get back but that may not be timely, apologies for that.

[2020-04-30 01:36] #57 closed

[2020-05-07 19:35] arjung commented on #41
This should no longer be an issue since TF 2.2.0 has been released. Sorry about the version complications, things will be much simpler now.

https://github.com/tensorflow/neural-structured-learning/commit/edead04aa3be59f07baea52fc2cf22c320cdaff5 updates the neural graph learning tutorials to use the default TF version in colab.

[2020-05-07 19:35] #41 closed

[2020-05-14 07:15] Luogaorong opened #60 "About the version of tensorflow"
Hi,
I had a problem running your code.You can say which version of tensorflow you use?

thkans!

[2020-05-15 05:37] arjung commented on #60
HI @Luogaorong, can you share more specifics on the problem you ran into? Which version of TF were you using and how were you using NSL?

Graph regularization in NSL does not work with TF 2.1.0. Since the latest TF version, which is 2.2.0,  was recently released, all our tutorials use that version.

[2020-05-20 20:04] #60 closed

[2020-07-02 09:42] joshchang1112 opened #61 "gnn model implementation"
Hi,

I’m interested in neural structure learning(graph neural network) and want to apply some basic gnn models such as GCN, GAT using Tenserflow2.0. I have some ideas on how to implement it, but I am not sure whether such a model architecture is clear. Here is the code structure of gnn I roughly thought:

- Create a folder named ‘models’ to design various gnn models structure
- In ‘models’ folder,

[2020-07-08 18:01] ppham27 commented on #61
Hi Josh,

Thanks for bringing this up. We've also been thinking a lot about GNNs and were thinking of building upon https://github.com/deepmind/graph_nets.

This gives you two options, I think.

1. You're free to start a `research/gnn-survey-paper` directory that we're happy to review. We would be very curious about what your use cases are for GNNs. With this option, you obviously have much more f

[2020-07-09 16:26] joshchang1112 commented on #61
Hi,

Thanks for your reply:) I’m very excited to try the prototype designed by your team about using Graph Nets. I’ll look up relevant information and the github repository about Graph Net Library these days. However, I also wonder if it is possible that these two options can be carried out simultaneously. I can implement some simple gnn models or just functions in these few days and submit a pull

[2020-07-09 20:15] ppham27 commented on #61
Hi Josh,

I actually contributed the wordnet dataset. Glad you're finding it useful. Cora was next on our list to add actually but I'm somewhat lacking on bandwidth right now.

Sure doing both in parallel sounds okay to me. I just don't want to feel like you're putting in work that may or may not be used in the future. But if you are fine with your work being considered experimental, feel free to

[2020-07-14 15:54] joshchang1112 commented on #61
Hi Phil,

Very glad to hear that you contributed the wordnet dataset and excited to see the cora in tfds soon!!!

By the way, I encountered some personal issues in the past few days and I'll go on a four-day trip this week, so I may not send PR about the first options we discussed last week and therefore I'll wait for the prototype your team designed about Graph Nets. We can discuss how I can prov

[2020-07-25 15:28] joshchang1112 commented on #61
Hi Phil,

I recently implemented the GCN model with Cora using Tensorflow 2.0. I'm a little worried that the length of the code will be too long so I have not dealt with some details, such as weight initialize, bias, and some error detection. I will add them to the code in the future if the model structure is available. I'll send PR later, and thanks for reviewing my code.

Best regards,
Josh

[2020-08-11 13:46] ppham27 commented on #61
Hi Josh,

Sorry it took so long to review your implementation. Some changes and renamings had to be made that are particular to Google. I took the liberty of being less strict to removing the feature_dim argument since it can be inferred.

Thanks for your contribution.

- Phil

[2020-08-13 14:11] joshchang1112 commented on #61
Hi Phil,

Very glad that I can contribute my gnn implementation to Google, and thanks for reviewing my code. I would like to apply the Graph Attention Network next and hope to make the folder `gnn-survey` more complete and flexible. I think that it will be finished next week and I'll send PR when I finish it. Thanks:)

Best regards,
Josh

[2020-09-08 15:09] joshchang1112 commented on #61
Hi Phil,

Sorry for not getting back to you earlier, and I have some questions about sparse version of graph neural network.

First, I found that if I use tf.sparse.SparseTensor to implement sparse version of gcn, it will output error below when loading the best model to test:
[code]
I see the document about `TensorSpec` and `SparseTensorSpec` on version tensorflow2.3, and found that `SparseTensor

[2020-09-09 22:10] dipanjanS opened #65 "Potential example tutorial for Adversarial Learning"
Hi @arjung creating this issue based on our conversation earlier. Open to thoughts on if this might be a valid example to also showcase besides the existing ones we have here on NSL. Folks did seem to like this one and we plan to also showcase this and some more (maybe on NLP too) in some upcoming conferences\events. This can BTW be edited and modified based on what might be appropriate \ relevant

[2020-09-11 19:49] arjung commented on #65
Thanks for reaching out, @dipanjanS! We are definitely excited about your example and presentation.

Re: the presentation/video, we are planning to create a page in our GitHub repo to highlight talks, videos, presentations on NSL. Once we do that, we can add a link to the YouTube video you just shared.

Re: the example tutorial, we'd definitely be happy to accept this as a contribution to our repo

[2020-09-12 17:08] dipanjanS commented on #65
Sounds great thanks! I'll link the PR here once I create it

[2020-09-14 14:07] dipanjanS commented on #65
@arjung added details in  #67

[2020-09-23 07:08] sayakpaul opened #69 "Adversarial compilation failing to infer inputs properly"
Hi.

I am currently on TensorFlow 2.3 and I am using the latest version of `nsl`. I am trying to train an adversarially robust flower classifier with the **flowers dataset**. I am preparing the data in the following way -

[code]

My base model is constructured like so -

[code]

The adversarial-regularized model is prepared in the following way -

[code]

When I start training I run into -

[code

[2020-09-24 22:42] csferng commented on #69
Thanks for your question. Because the input examples are converted to dictionaries in `preprocess_image()`, it works best to name the Keras input tensor as well:

[code]

[2020-09-25 03:21] sayakpaul commented on #69
@csferng thanks for the help. It did the trick.

Now when I try to test the robustness for comparison purposes, the `perturb_on_batch()` function is not able to interpret `label` key from the feature dictionary. Is there a way to bypass it?

Here's the updated [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/01e289860303e8def1231e7af09c5e33/adversarial_training_nsl.ipynb).

[2020-09-26 00:34] csferng commented on #69
@sayakpaul, `perturb_on_batch()` expects the same input format as `call()`, which is a dictionary containing both features and labels. The output of `perturb_on_batch()` also contains the same label features.

I didn't see any error in your colab notebook around `perturb_on_batch()`. Could you explain more what was wrong or what you'd like to achieve?

[2020-09-26 01:23] sayakpaul commented on #69
@csferng it came out as a warning actually. When I ran it the second time it went away.

If you see closely there is not by perturbation and accuracy for both the models for the perturbed batch is zero. I wanted to know why and how I could counter it. My belief is that there must have been something wrong in my code.

[2020-09-30 14:40] sayakpaul commented on #69
@csferng any updates?

[2020-09-30 15:47] joshchang1112 commented on #61
Hi Phil,

I just finished the sparse version of graph attention network, and I'm still a little bit not sure about my implementation. But I'll send pr first, and if my structure needs to modify, just let me know. Also, I would like to know whether i could add the document about how to execute my code correctly just like README, this may let other people more clearly about my architecture and  para

[2020-09-30 16:02] ppham27 commented on #61
Hi Josh sorry for the delayed reply. I must have have missed it while on vacation. Thanks for your work on this.

That looks like a Keras bug to me. I'll follow up with that team to see how we might fix it.

Yes feel free to include a README in the gnn-survey directory.

[2020-09-30 21:23] csferng commented on #69
I got reasonable results by running your colab:
[code]
Maybe the zero accuracy issue was caused by some cached values in the runtime. Could you restart the runtime and see if the issue persists?

Regarding the warnings, some like `Cannot perturb features ['label']` is normal during `perturb_on_batch()`. The `label` feature is in integer type, so it cannot be perturbed. But since we actually don't

[2020-10-01 02:45] sayakpaul commented on #69
Thanks, @csferng. The issue is solved now.

[2020-10-01 02:45] #69 closed

[2020-10-02 03:32] victorconan opened #72 "Out of Memory issue when building large graph"
I have 800k instances with 200 dimensional embeddings. I am trying to build the graph using `nsl.tools.build_graph` with similarity threshold of 0.95.  My driver type is r4.4xlarge. I keep having OOM error. Anyone knows how to estimate how much memory I need?

[2020-10-02 19:07] aheydon-google commented on #72
Hi, @victorconan, thanks for your interest and bug report!

The memory required by the graph builder is a function not only of the input data, but also the resulting graph. A couple of questions for you:

- How big is the TFRecord file from which you're reading your examples?
- When you call `build_graph`, what values (if any) are you supplying for the `lsh_splits` and `lsh_rounds` flags?
- Do you

[2020-10-02 21:11] victorconan commented on #72
The TFRecord files are only 714MB

I used `lsh_splits = 32` and `lsh_rounds = 20`. I am a little confused about the statement in the documentation that `We have found that a good rule of thumb is to set lsh_splits >= ceiling(log_2(num_instances / 1000)), so the expected LSH bucket size will be at most 1000.`. That seems to suggest the max `lsh_splits` should be 10?

I am using Databricks, so only

[2020-10-05 12:35] WrathofBhuvan11 opened #73 "TypeError: argument of type 'Tensor' is not iterable"
[code]
Epoch 1/10

TypeError Traceback (most recent call last) in () 8 loss='sparse_categorical_crossentropy', 9 metrics=['accuracy']) ---> 10 adv_model.fit(x=X, y=Y, batch_size=32, epochs=10) 11 adv_model.evaluate(x=X_t, y=Y_t, verbose=1)

TypeError: argument of type 'Tensor' is not iterable

[2020-10-05 17:52] DualityGap commented on #73
Thank you for raising this issue, @WrathofBhuvan11
Can you make sure the 'base model' (i.e., merge_img_classify, no adv regularization) is able to run correctly w/o this error?

[2020-10-05 23:51] victorconan opened #74 "Error for adversarial training with Sequential model"
I have a base model using tf.feature_column:
[code]
And I have parser function to feed data from TFRecords (there are 500 feature columns in the file):
[code]

My base model can run successfully when uncommenting the `target`. When I tried to run the adversarial regularization:
[code]
I got error:
[code]

I don't understand this error. Is it because my sequential model does not build until trainin

[2020-10-06 23:47] aheydon-google commented on #72
Hi, @victorconan.

Unfortunately, I'm unfamiliar with the runtime environment you're using, so I can't really offer much help. Our graph builder is currently limited to running on a single machine and must store all node features and the resulting graph edges in memory (at least when using the `lsh_splits` and `lsh_rounds` configuration parameters). We are considering providing a more scalable gra

[2020-10-07 00:43] csferng commented on #73
`nsl.keras.AdversarialRegularization` expects both input data and target data in one dictionary passing to the `x` argument:

[code]

Depending on how the base model is constructed, you may need to name the input layer using the `name` arg, e.g. `tf.keras.Input(..., name='image')`. Please see the [doc](https://www.tensorflow.org/neural_structured_learning/api_docs/python/nsl/keras/AdversarialRegul

[2020-10-08 00:11] csferng commented on #74
Thanks @victorconan for raising the issue and for the detailed reproduction instructions.

`AdversarialRegularization` expects `Sequential` base models to provide a list of feature names in order to distinguish input features and target labels, but unfortunately the feature names specified in feature columns (the `DenseFeatures` layer) aren't populated to the model.

Here's a workaround using a Ke

[2020-10-08 16:50] victorconan commented on #74
Thanks! It's working!

[2020-10-08 16:50] #74 closed

[2020-10-08 18:07] victorconan commented on #72
Hi @aheydon-google ,

Thanks for the reply!

- I have tried using similarity threshold of 0.99, and it is running very long time (3 days so far). I will try increase `lsh_splits` to 128 and reduce `lsh_rounds` to 1 and see how long it takes. I do notice that so far the tsv file is around 11G
- My node ID is 32-length string
- Yes, my embedding files are already a bunch of TFRecords, I have 2988 fi

[2020-10-08 22:40] ppham27 commented on #61
Hi @joshchang1112 ,

I was able to check in https://github.com/tensorflow/tensorflow/commit/42c6cc5780159dc3a536757cce4b182a6be35448, so that error should be fixed in [tf-nighty](https://pypi.org/project/tf-nightly/) tomorrow.

[2020-10-09 00:28] joshchang1112 commented on #61
Hi Phil,

Very glad to hear that! Thank you very much:)

[2020-10-14 23:20] aheydon-google commented on #72
Thanks for the update! If you're using a threshold of 0.99 and the graph builder is running for 3 days, that's a problem. What that tells me is that at least 1 of your LSH buckets is quite large. That needs to be better understood.

One thing that might help is getting access to the log messages that the graph builder writes. I'm not sure why those aren't currently being written for you. Are you i

[2020-10-21 18:11] aheydon-google commented on #73
WrathofBhuvan11@, did the reply from csferng@ solve your problem? Thanks for any update!

[2020-11-02 08:58] joshchang1112 commented on #61
Hi Phil,

I recently want to implement graphsage and graph isomorphism network(GIN) on the cora dataset, but I'm not sure that my structure and parameters are correct. The original paper in these two gnn models not use cora to conduct their experiments, so I just random select some parameters and tune them to ensure they have similar accuracy with GCN. I send PR with graph isomorphism network impl

[2020-11-11 17:45] aheydon-google commented on #72
Closing this issue for now. Please feel free to re-open if you have further questions.

[2020-11-11 17:45] #72 closed

[2020-11-20 16:17] WrathofBhuvan11 commented on #73
I'm sorry for the late response.
Yes, @csferng  solution helped. But I have one more question/ scenario where the same problem arose. It
is if I'm using Image data generator. and flow from directory method. Any suggestions for that?

[2020-11-20 16:18] WrathofBhuvan11 commented on #73
yes base model works

[2020-11-20 16:19] WrathofBhuvan11 commented on #73
how to address the same issue for flow from directory / flow_from_dataframe?

[2020-11-20 16:38] WrathofBhuvan11 commented on #73
I have already split `full_df` into `train_df` and `valid_df` dataframes.
[code]

[code]
the above functions I referred https://github.com/tensorflow/neural-structured-learning/issues/3#issuecomment-528646087
[code]
I'm getting this error,
[code]

[2020-11-21 07:56] WrathofBhuvan11 opened #77 "KeyError: 'input_2' while running data generators in fit_generator"
Creating a new issue for this comment https://github.com/tensorflow/neural-structured-learning/issues/73#issuecomment-731274617
Using fit generator and nsl to train an image multi-label classifier
I have already split full_df into train_df and valid_df dataframes.
[code]
[code]
the above functions nsl_train_generator and nsl_valid_generator, I referred #3 (comment)
[code]
I'm getting this error,
[

[2020-11-24 00:17] csferng commented on #77
Thanks for your question, @WrathofBhuvan11.

The error is due to that Keras doesn't know which features in the input dictionary to feed to the model. One solution is to name the input placeholder during model construction:

[code]

With the `name` argument, Keras will use the corresponding feature in the input dictionary for follow-up computation.

[2020-11-24 07:55] WrathofBhuvan11 commented on #77
Thankyou for your response. It worked perfectly. Thankyou once again.

[2020-11-24 07:59] WrathofBhuvan11 commented on #77
I have a quick question for you sir, regards NSL.
In theory how effective will NSL work for hierarchical multi label classification?

[2020-11-25 20:12] DualityGap commented on #77
If we have information about the hierarchical structure in the labeling space, we should be able to leverage the 'nearby' labels (for example, labels under the same parental class) to enhance the learning. But how to effectively do this remains as an open and research question. My intuition is by leveraging the structure in the labeling space, the model should learn more effectively compared to re

[2020-11-26 03:57] WrathofBhuvan11 commented on #77
Thankyou for sharing your insights.. I'll go through the paper.

[2020-11-26 10:39] WrathofBhuvan11 commented on #77
Hello sir, I have one follow up question.
Let's say I have 13 classes. And it's a hierarchical multi label classification problem.
So if I have embedded matrix of shape (13,100) where 100 is word embedding dimension. How can I use this matrix knowledge in enhance traditional CNN based image classifier ? Is there a way to use Neural structure learning graph API to include this embedded matrix?

[2020-12-02 01:04] arjung commented on #73
@csferng, could you look into the second question from @WrathofBhuvan11 above?

[2020-12-02 01:05] #73 closed

[2020-12-15 16:22] joshchang1112 commented on #61
Hi Phil,

I'd like to add other datasets (Citeseer, Pubmed) and make them available to the gnn models recently, and I want to know if you have any other recommendations about this work?

Besides, I did my undergraduate research about NLP, and I am interested in whether gnn models can apply to some transformer-based models(ex: BERT, RoBERTa). I believe that it will significantly improve some NLP ta

[2020-12-21 10:30] ppham27 commented on #61
Hi Josh,

I think the most natural way to apply transformers with GNNs would be to embed each example with BERT and then run a GNN on top of that. I think you run into the problem that you won't have enough memory to back-propagate if you embed the entire graph, though.

Pretrained models often work fine with small batch sizes, so you could look into sampling the graph with techniques like GraphSA

[2020-12-24 17:17] joshchang1112 commented on #61
Hi Phil,

I'm so glad to hear your advice, and I'll try the sampling techniques first to see whether it could work in my task:) Although it is indeed a difficult problem, I'm excited to conduct relevant research in this area! Thank you so much for giving me advice!

Best Regards,
Josh

[2021-01-21 18:38] ruandave commented on #77
There are several ways to leverage the structured information in the labeling space. One example is like the method described in [this paper](https://openreview.net/pdf?id=SyxQh3EFDr). Currently NSL does not have APIs to directly support leveraging structured information in the labeling space for training.

[2021-01-21 20:13] DualityGap commented on #77
How to effectively leverage structured information in the labeling space remains as an open-ended and research question. Some research works have been proposed for this goal ([one example work](https://openreview.net/pdf?id=SyxQh3EFDr)). Currently NSL does not have direct support using the structured signals in the labeling space.

[2021-01-21 20:13] #77 closed

[2021-02-25 17:04] arjung commented on #65
Merged in https://github.com/tensorflow/neural-structured-learning/pull/76. Closing this issue.

[2021-02-25 17:04] #65 closed

[2021-04-10 12:20] VijayLingam95 opened #81 "Massive Label Leakage in GAM/GAM* Implementation"

[2021-04-10 12:53] VijayLingam95 commented on #81
Hi GAM Authors,

I have noticed a massive label leakage bug in your implementation of GAM/GAM*. Both edge_iterator and pair_iterator are using true labels instead of predicted labels. Below are more details on label leakage bug in each of these iterators.

1. bug in edge_iterator (defined in trainer_classification_gcn.py)
Source of label leakage:
  elif labeling == 'lu':
    edges = (
       data.

[2021-04-12 03:59] otiliastr commented on #81
Hi Vijay,

Thanks for discovering this issue! I have made a pull request with a fix for the edge_iterator. Given this change, we need to tune again the hyperparameters, so we are reruning some experiments and will post updates on the GAM repository.

However, I am not sure I understand the issue with "pair_iterator". You are right that it returns the true labels for unlabeled nodes, but these are

[2021-04-13 09:07] Demirrr opened #83 "Experimental details"
Hello,

Thank you for the great work and making the implementation publicly available [1]. I do enjoy reading findings of your work. I was wondering whether you could share your opionon on the following matters:

1- Is there any plan to share pretrained models ?

2- Could you elaborate on runtimes ?

3- What are the ranges for hyperparameters of models ?

4- How many numbers of unique hyperparamet

[2021-04-29 01:37] basselkassem opened #84 "This line should the other way around. If weights is None then don't unpacked from the input"
https://github.com/tensorflow/neural-structured-learning/blob/c21dad4feff187cdec041a564193ea7b619b8906/neural_structured_learning/keras/layers/pairwise_distance.py#L114

[2021-04-30 17:35] aheydon-google commented on #84
Hi, Bassel, thanks for the report.

This is a bit confusing, but I actually think the code is correct. The documentation says:

[code]

The idea is that if you pass `None` for `weights`, the `inputs` argument is expected to be a tuple of 3 elements; otherwise, it's expected to be a tuple of 2 elements. And that's just what the code does:

[code]

(Notice in the `else` case that the `weights` varia

[2021-04-30 17:35] #84 closed

[2021-04-30 18:35] DualityGap commented on #83
@chamii22
@ines-chami
for more experiment-related details and information : )

[2021-04-30 18:43] basselkassem commented on #84
Thank you Aheydon for your replay. I get it know!

[2021-05-03 12:57] Demirrr commented on #83
Cheers @DualityGap :)

[2021-05-03 15:14] ines-chami commented on #83
Hi @Demirrr
1. Not at the moment but the experiments should be reproducible with the code.
2. I do not have exact runtimes but it training was taking a few hours. YAGO took around a day to train.
3 & 4. We mostly searched over the optimizer, negative sampling + learning rate. The different combinations were:
- Adam + negative sampling + lr in [5e-4, 1e-3, 5e-3]
- Adagrad + no negative samples + lr

[2021-06-10 13:06] sayakpaul opened #87 "Extending Graph regularization to images?"
Hi folks.

I am willing to work on a tutorial that shows how to extend [graph regularization example](https://colab.research.google.com/github/tensorflow/neural-structured-learning/blob/master/g3doc/tutorials/graph_keras_lstm_imdb.ipynb) in the same way it's done for text-based problems. Is there a scope for this tutorial inside this repo?

[2021-06-11 05:20] sayakpaul opened #88 "On adv. robust classifiers having better transfer performance"
I am referring to this paper: [Do Adversarially Robust ImageNet Models Transfer Better?](https://arxiv.org/abs/2007.08489) (Salman et al., NeurIPS'20). The authors show that adversarially robust models have better transfer learning performance. They attribute this gain to the following factors:

* Adv. robust models have better-informed gradients.
* Adv. robust models can learn representations tha

[2021-06-11 06:40] arjung commented on #87
Hi Sayak, thanks for your interest! Can you say more about what you mean by extending graph regularization? What are you thinking of demonstrating and what dataset would it be for?

[2021-06-11 06:56] sayakpaul commented on #87
Hi Arjun.

I should have been clearer. I meant to say "graph regularization example" that we have for text classification.

I am thinking of using similar methods on an image dataset (let's say the [Flowers dataset](https://www.tensorflow.org/datasets/catalog/tf_flowers)). Some brief pointers:

* For extracting the features, we could use a pre-trained model (ResNet50, InceptionV3, etc.) that comes

[2021-06-11 18:07] DualityGap commented on #88
Interesting, thanks for the nice suggestion, Sayak!
Meanwhile, if you have any results, feel free to share.

[2021-06-11 18:07] #88 closed

[2021-06-11 18:16] sayakpaul commented on #88
As an individual, it's currently not possible for me to train ImageNet-1k scale models without having the required resources and guidance. This is why I just wanted to pass this suggestion to the NSL team as I think it would be a very nice use case to apply NSL on.

[2021-06-14 18:30] arjung commented on #87
Ah I see, that makes sense. We'll discuss this with the rest of our group and get back to you later this week.

[2021-06-16 10:36] sayakpaul opened #89 "An example of similarity search"
I was wondering if the team would be interested to work on a tutorial to show how NSL could be used for similarity and retrieval tasks using the graph APIs provided by NSL. Would be even interesting to benchmark the performance of that against other nearest neighbors' approaches.

I personally think it would be helpful for many developers working in this area.

[2021-06-17 18:34] arjung commented on #89
NSL currently does not have APIs to retrieve nearest neighbors. It has APIs to build a graph based on dense embeddings using locality sensitive hashing. You might be interested in https://github.com/google-research/google-research/tree/master/scann.

[2021-06-17 18:34] #89 closed

[2021-06-19 11:59] PhaelIshall opened #90 "FB237 ids"
Hello,

I have a question that I hope you can answer. Why are the downloaded files for FB237 containing entity and relation ids that are different from the ones with the original dataset? I am trying to test a model trained on the data from kbc repository with some of the original data converted to ids and they are not the same. Could you please provide information on how you created the ids?

[2021-06-21 06:20] arjung commented on #90
Hi @ines-chami, could you help answer this? Thanks!

[2021-06-21 19:26] arjung commented on #87
Do you have a dataset in mind that encodes a natural/organic graph, perhaps something like a co-occurrence graph? We believe that using an orthogonal source of similarity and not just inferring it based on embeddings will be much more valuable for graph regularization, and so it'd be great to demonstrate that if possible. Another option might be to create 'perturbed' versions of images and use the

[2021-06-22 00:56] sayakpaul commented on #87
I don't have that kind of dataset in mind. Since in the text classification example, graph regularization was demonstrated using the IMDB dataset I was more inclined toward using a dataset of natural images.

It's already kind of covered **_implicitly_** in the [Adversarial Regularization](https://www.tensorflow.org/neural_structured_learning/tutorials/adversarial_keras_cnn_mnist) example, isn't i

[2021-06-22 17:11] ines-chami commented on #90
Hi,
We actually reused the data files released in the kbc open source repository:
https://github.com/facebookresearch/kbc/blob/master/kbc/scripts/download_data.sh

This issue about ids may help: https://github.com/facebookresearch/kbc/issues/17

[2021-06-23 06:09] arjung commented on #83
Closing this issue following the detailed response above. Thanks Ines!

[2021-06-23 06:09] #83 closed

[2021-06-23 06:12] arjung commented on #90
Thanks for the response, Ines!

[2021-06-23 06:12] #90 closed

[2021-06-29 01:20] sayakpaul opened #91 "Our CVPR tutorial and its use of Neural Structured Learning"
Hi folks.

I wanted to let y'all know about our CVPR 2021 tutorial "Practical Adversarial Robustness in Deep Learning: Problems and Solutions (PAR)" organized by Pin-Yu Chen (IBM Research) and myself.

We made use of Neural Structured Learning in this tutorial extensively and wanted you to know about that. Code, slides, and videos of our tutorial are all available here: https://sites.google.com/vi

[2021-06-29 17:53] arjung commented on #87
Ideally, our goal should be to demonstrate some wins of using graph regularization in this tutorial. Here are two options for doing that; there could be more:

#### Option 1:
Use a complex pre-trained model to generate image embeddings and then use embedding similarity for graph building. Then, for the classification task, use a simple(r) model. The hope here is that using the graph will yield som

[2021-07-01 06:33] arjung commented on #87
Sounds good. For option 1, feel free to put together what you had in mind and send us a PR. We can plan to have it under https://github.com/tensorflow/neural-structured-learning/tree/master/neural_structured_learning/examples/notebooks.

For option 2, will discuss with the rest of the team to see how we can go about this and circle back.

[2021-07-01 06:48] sayakpaul commented on #87
Alright.

For option 1, here's what I have in mind:

* Use a BiT variant on the Flowers dataset to generate the embeddings.
* Construct the graph.
* Construct a shallow model to train with the graph data.

For option 2, that sounds good to me. I have [experience](https://arxiv.org/abs/2105.07581) working with those kinds of perturbations and corruptions. I recently worked on assessing the robustne

[2021-07-03 06:26] sayakpaul commented on #87
@arjung I started putting together a notebook for option 1.

After experimenting for a while, I am seeing that not all the images are having neighbors. This is likely because of the embeddings being generated by the [pre-trained model](https://tfhub.dev/google/collections/bit/1) I am using and also the hyperparameters I am using during constructing the graphs.

To elaborate, here's an example of a

[2021-07-07 18:00] arjung commented on #87
Thanks for putting together an initial version of the colab quickly. I took a quick peek at it and here are a couple of comments, which I think should address your question.

1. Since the dataset is quite small in your case, you really don't need to configure LSH for graph building. The 32 splits is likely the reason why the graph is a bit sparse and some of the nodes end up being isolated. If you

[2021-07-07 18:27] csferng commented on #33
Closing this issue for now due to inactivity. Feel free to reopen if you have any progress or updates on the link prediction idea.

[2021-07-07 18:27] #33 closed

[2021-07-07 18:29] csferng commented on #44
Closing this issue for now. Feel free to reopen if the error occurs again.

[2021-07-07 18:29] #44 closed

[2021-07-07 19:34] arjung commented on #91
Hi @sayakpaul, wonderful to know about your tutorial and that you've used NSL extensively :). We're planning to create a dedicated page or a separate section of the README to document such external usage of NSL. We'd be happy to list this tutorial and related material there. Feel free to also let me know if you have given other tutorials, talks, etc, on NSL and would like to list them there.

Will

[2021-07-08 02:32] sayakpaul commented on #91
Thank you so much!

[2021-07-08 03:19] sayakpaul commented on #87
Thank you!

I added the following:

[code]

I also reduced the `lsh_splits` to 10 and as expected we have more neighbors - 770504.

With this, when I am trying to parse the TFRecords (built with NSL augmentation), I'm running into:

[code]

[2021-07-08 03:50] sayakpaul commented on #87
Thank you, @arjung!

I added the following:

[code]

I also reduced the `lsh_splits` to 10 and as expected we have more neighbors - 681358.

With this, when I am trying to parse the TFRecords (built with NSL augmentation), I'm running into:

[code]

Now when prefixed the shapes like so (following the [tutorial](https://www.tensorflow.org/neural_structured_learning/tutorials/graph_keras_mlp_cora#lo

[2021-07-08 04:36] arjung commented on #87
As the error indicates, `tf.image.decode_jpeg()` expects its input to have rank 0, so you'd have to take care of its shape requirements. See https://www.tensorflow.org/api_docs/python/tf/io/decode_jpeg for documentation on its arguments.

[2021-07-08 04:53] sayakpaul commented on #87
Will look into it. But I guess I have already tried the next thing. When the feature_spec of the images are not specified with shapes ([]. rank-0) it results into:

[code]

I indicated this in the first part of my previous comment.

[2021-07-08 05:17] arjung commented on #87
[code]

The above code will not work because for the neighbor feature, you're specifying the shape as rank 0 but then specifying a default value with shape [img_size, img_size, 3].

[2021-07-08 05:22] sayakpaul commented on #87
Yes, that is why I tried the other one but then ran into the rank issue. Any approach you can think of to mitigate it? I understand we need to deal with the shape requirements but it's not immediately clear to me how we could do that here.

[2021-07-08 17:43] arjung commented on #87
One option is to specify the default value as a JPEG-encoded string with rank 0. Your code already handles decoding from jpeg to integer tensors after `parse_example()`.

Alternatively, if you don't need the back-and-forth JPEG conversion, you can serialize the examples (output of augmentation) to contain an int64_list for the 'image' feature -- this is the format of the feature in the dataset to

[2021-07-09 02:01] sayakpaul commented on #87
Thanks.

The code now works. Here's the [Colab](https://colab.research.google.com/drive/1_-u34lN2pf0Z3ORgg49m4B63F_ppBY6E?usp=sharing).

My base model is:

[code]

I think we can agree this is way simple to deal with 224x224x3 images but I just wanted to get something up and running quickly. In this case, I saw graph regularization did play an important part. Over five runs, I was able to squeeze

[2021-07-11 14:41] srihari-humbarwadi opened #92 "Adding support for reading and writing to multiple tfrecords in `nsl.tools.pack_nbrs`"
The current implementation of `nsl.tools.pack_nbrs` does not support reading and writing to multiple tfrecord files.
Given the extensive optimizations made available by the `tf.data` API when working with multiple tfrecords, supporting this would yield significant performance gain in distributed training. I would be willing to contribute to this

Relevant parts of the code
 - for reading
https://g

[2021-07-12 18:57] arjung commented on #92
Thanks for your interest in contributing, @srihari-humbarwadi! :) To begin with, could you share more specifics on what APIs you plan to change and how you plan to change them? Once we come to an agreement there, you can go ahead with the implementation. I've assigned one of my colleagues, @aheydon-google to this thread, who will be able to work with you on this.

[2021-07-13 11:57] wayer96 opened #93 "Reproduction Issue"
Hi, I'm quite interested in your work ''Low-Dimensional Hyperbolic Knowledge Graph Embeddings'' and tried to reproduce the experimental results strictly according to the _Best hyperparameters table_ you posted in paper. However, my results on **YAGO3-10** are always about 5%-6% lower than the reported. I wonder if there are other hyper-parameters needs to adjust(like --drop_out or --reg)?  Thanks

[2021-07-13 17:26] srihari-humbarwadi commented on #92
Here is the signature of the current implementation of  `pack_nbrs` ---
[code]
`labeled_examples_path` and `unlabeled_examples_path` are paths to a single TFRecord file, one for each of them.
The proposed modification changes this to additionally support a list of paths. This would enable users to load examples that are split across multiple TFRecord 'shards'; which is often the case when training

[2021-07-13 21:31] chunta-lu commented on #93
@ines-chami could you help answer this question related to hyper-parameter setting? Thanks!

[2021-07-14 08:33] ines-chami commented on #93
Hi,
The numbers reported in the paper for YAGO were obtained using the PyTorch implementation (https://github.com/HazyResearch/KGEmb). The best hyperparameters can be found in this folder: https://github.com/HazyResearch/KGEmb/tree/master/examples. We noticed that performance slightly varied from one implementation to another and that may explain the 5% difference with TensorFlow.
Thanks,
Ines

[2021-07-16 22:03] chunta-lu commented on #93
Thanks for the response, Ines!
Closing this issue for now, but it would be good if Ines you can help run hyper-parameter sweep for TensorFlow implementation.

[2021-07-16 22:03] #93 closed

[2021-07-17 08:00] wayer96 commented on #93
Thanks! I have used the PyTorch implementation, and find the best hyperparameters settings in folder examples. However, for YAGO3-10, there is only hyperparameter setting of RotH for 32dim. Looking forward a more complete parameter settings for YAGO3-10 in the future, thanks!

[2021-07-20 13:25] arita37 opened #94 "NSL with TF 2.5 custom loss"
Just checking if this is possible
to wrap a custom loss model
using @tf.function  into NSL.

TF is 2.5

what are the constraints ?

[2021-07-21 06:22] arjung commented on #87
Thanks. I've been a bit busy over the past 2 weeks and haven't had a chance to look into this. Will get to it over the next few days.

[2021-07-21 06:24] sayakpaul commented on #87
I appreciate that. Thanks.

[2021-07-22 23:18] chunta-lu commented on #94
Could you clarify where do you want to add the custom loss?
The base model used in either GraphRegularization and AdversarialRegularization can use any loss function, so I assume you want to add a custom loss function for the graph regularization loss.
If this is the case, you can add it to the lib/distances.py similar to jensen_shannon_divergence, and add another option in DistanceType in the con

[2021-07-23 00:56] arita37 commented on #94
We have a model
wichi cannot use keras fit
because of custom loss.

We want onadd graph regu on top.

Thanks

[2021-07-23 01:31] chunta-lu commented on #94
Could you provide the example you of your model and the custom loss?
It sounds like your base model cannot fit with your custom loss. Could you solve this issue first?
The custom loss function should have the same arguments as the other Keras loss function, e.g.,
[code]

[2021-07-23 08:44] arita37 commented on #94
Sure.

Technically:
   custom_loss with @tf.function
   custom train step with gradient_tape
       with @tf.function
   Manual epoch loop

Should I plug the logits output
into the graph regularizer low level API ?

Thanks

[2021-07-23 18:50] csferng commented on #94
Hi @arita37, it looks like you are using a [custom training loop](https://www.tensorflow.org/guide/keras/writing_a_training_loop_from_scratch). (Please correct me if this is not the case.)

To add graph regularization in a custom training loop, you can call [`nsl.keras.layers.PairwiseDistance`](https://www.tensorflow.org/neural_structured_learning/api_docs/python/nsl/keras/layers/PairwiseDistance)

[2021-07-23 19:28] arita37 commented on #94
Hello,

Thanks, exactly custom training loop.
Also, do we need to provide
the static graph node,vertex in tsv flat file format too ?
(list of neightbors )

Thanks

[2021-07-26 07:28] csferng commented on #94
Both [`nsl.lib.pairwise_distance_wrapper()`](https://www.tensorflow.org/neural_structured_learning/api_docs/python/nsl/lib/pairwise_distance_wrapper) and  [`nsl.keras.layers.PairwiseDistance().call()`](https://www.tensorflow.org/neural_structured_learning/api_docs/python/nsl/keras/layers/PairwiseDistance) assume the graph is already processed, and require two parameters `sources` and `targets` rep

[2021-07-27 05:35] chrisrapson opened #95 "deviations from tf/keras conventions"
this looks like a fantastic resource, but I am struggling to get it to work. My application uses complex custom pre-processing functions, implemented as `.map()` on `tf.data.Dataset` objects. There are not yet many examples using this library, and the ones I found use relatively simplistic datasets. I've struggled to adapt the examples to my dataset, and have hit many errors trying to format my da

[2021-07-28 04:36] arjung commented on #87
Looks generally good, Sayak! I'll take another look once you send the PR. Please add sufficient documentation, doc strings, etc. A few comments/suggestions for now though regarding the results:

- the graph regularized model doesn't seem to have converged during training
- the scaled graph loss value seems to be quite low and so I am not sure if it's contributing much.

Can you try increasing the

[2021-07-28 04:56] sayakpaul commented on #87
Yes, I didn't train it to completion. I wanted to just briefly run the models to ensure they are working.

What we should expect to see there? This would give me a good idea as I experiment further.

I'll experiment with all of these and report back.

Thanks, Arjun!

[2021-07-28 07:06] chrisrapson opened #96 "Input normalisation incompatible with keras.applications.EfficientNet?"
From the [tensorflow tutorial for nsl](https://www.tensorflow.org/neural_structured_learning/tutorials/adversarial_keras_cnn_mnist):
"To make the model numerically stable, we normalize the pixel values to [0, 1] by mapping the dataset over the normalize function."

And from the [keras documentation for EfficientNet](https://keras.io/api/applications/efficientnet/):
"EfficientNet models expect thei

[2021-07-28 22:54] csferng commented on #96
Hi @chrisrapson.

Different models may handle input preprocessing differently. In general, scaling input values to [0, 1] or [-1, 1] helps improve models' numeric stability during training. The EfficientNet model has this built-in, as noted [here](https://www.tensorflow.org/api_docs/python/tf/keras/applications/efficientnet/EfficientNetB0):
`For EfficientNet, input preprocessing is included as par

[2021-07-29 01:29] csferng commented on #95
Hi @chrisrapson, thanks for your feedback.

Regarding the input format, `nsl.keras.AdversarialRegularization` can handle `tf.data.Dataset` input, as long as each batch in the dataset is a dictionary of tensors. For example, in this [tutorial](https://www.tensorflow.org/neural_structured_learning/tutorials/adversarial_keras_cnn_mnist#adversarial-regularized_model) the `train_set_for_adv_model` and

[2021-07-29 01:52] aheydon-google commented on #92
Hi, Srihari.

Thanks for supplying those details and for offering to contribute to NSL! What you propose sounds like a nice improvement. If you send me a pull request with your proposed changes, I can review it.

Thanks!

- Allan

[2021-07-29 05:28] chrisrapson commented on #96
Thanks for the example. I will work through the differences between that and my code and try to figure out what is causing the problem. Unfortunately, my code has too much proprietary information embedded at the moment. If I figure out a minimal working example I will post that.

The first thing I noticed is that I am using tf version 2.3.0. Trying to run your code with tf2.3 gives an error:
[code

[2021-08-02 01:39] chrisrapson commented on #96
It looks like updating to tf2.5 fixed the issue for me. I haven't dug deeper to figure out what the difference is. You may want to run some testing and see whether you need to set tf2.5 as a requirement.

I have now hit the NotImplementedError for "Saving `AdversarialRegularization` models is currently not supported." I'm trying the suggested workaround with saving the base_model and the weights s

[2021-08-02 05:50] chrisrapson commented on #96
Sorry... I spoke too soon.

I'd deactivated mixed_precision to simplify my testing, and when I added it back in, I hit the error again. It turns out, mixed_precision is a more likely candidate for the source of the error than the type of keras model.

There is a bug in tf2.5 which makes mixed_precision and EfficientNet incompatible: https://github.com/tensorflow/tensorflow/issues/50171 . That bug

[2021-08-04 00:41] arjung commented on #91
Thanks for your patience! We now have a dedicated page to document feature usage: https://github.com/tensorflow/neural-structured-learning/blob/master/usage.md, and I've already included your CVPR tutorial. Let me know if there is any other workshop/tutorial/presentation that you're aware of that should be added here. I am closing this issue now.

[2021-08-04 00:41] #91 closed

[2021-08-04 02:31] sayakpaul commented on #91
Thanks, @arjung. The tutorial on Recognizing Multimodal Entailment looks super (especially very comprehensive). Do you folks plan to release the videos soon?

[2021-08-04 03:15] arjung commented on #91
I believe so but I am not a 100% sure yet. If they become available, will definitely link them here.

[2021-08-04 06:35] csferng commented on #96
@chrisrapson, besides input scaling issue, another possible source of numerical instability is in the gradient computation for a cross-entropy loss after a softmax activation.

A common workaround is to let the model output logits (i.e. no activation in the last layer), and compute the loss from logits directly (e.g. `tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)` instead of `tf.

[2021-08-04 07:38] csferng commented on #95
I cannot reproduce this using TensorFlow 2.3 or 2.5. As in this [colab](https://colab.research.google.com/drive/1qKSFE_731uvNMysJnZQSmLgZluxJz9LE#scrollTo=3Jl6cU7zp17e) the adversarially regularized model can be trained with an `Adam(2e-3)` optimizer.

Right, `AdversarialRegularization` doesn't support `class_weight` for now. The `class_weight` arg is handled in Keras internals before calling into

[2021-08-05 01:17] srihari-humbarwadi commented on #92
Thank you @aheydon-google, I will start working on this!

[2021-08-05 13:51] sayakpaul commented on #87
@arjung here are some observations from the recent set of experiments I conducted:

* When I swapped the shallow neural network (comprising only two fully connected layers) with a shallow CNN the performance improved drastically.
* With 384x384 shaped images, the graph regularized model was throwing `ResourceExhasutedError` during training. So, I reduced it down to 224x224. I also increased the si

[2021-08-09 20:10] arjung commented on #87
- I don't know what caused the `ResourceExhaustedError` but batch size could also be one reason.
- I am not able to see the underfitting problem. It looks like the performance on the training set is good for both models. However, the validation loss starts increasing even after 5 epochs in both cases even though the validation accuracy mostly remains flat thereafter.
- Is there a reason you want t

[2021-08-10 01:45] sayakpaul commented on #87
What I meant by this is the training accuracy is not on par with what we get with graph regularization. Without graph regularization, the training accuracy stays at 89%. With graph regularization incorporated, it reaches a substantially higher training as well validation accuracy. This is evident in both the notebooks I mentioned in my previous comment.

1024 (DenseNet121) and 2048 (BiT-ResNet) di

[2021-08-10 03:42] sayakpaul commented on #87
Updates.

Looks like the discrepancy between the training and validation performance can be easily fixed by reducing the batch size.

![image](https://user-images.githubusercontent.com/22957388/128804459-4367db04-42e3-4897-90f8-d8aff7bec543.png)
<sup>No graph-reg</sup>

![image](https://user-images.githubusercontent.com/22957388/128804501-f565fbbd-3b80-4885-ac5b-b7707e5c3eb1.png)
<sup>Graph-reg</s

[2021-08-11 17:24] arjung commented on #87
Thanks. Are these the embedding dimensionality values used to build the graph, used in the input layer of the classifier, or both?

You mentioned you were going to try a larger BiT model too? Is that still part of your plan? In general, I think all of these experiments are useful and it would be great to have the findings summarized at the end of the colab.

[2021-08-11 17:43] sayakpaul commented on #87
For building the graph. Images go directly to the subsequent classifier.

Sure I will do that.

Do you think now we have a good ground to start working on the tutorial based on the notebook? If so, I can work on it and have a PR ready.

[2021-08-11 18:01] arjung commented on #87
Yeah definitely, please go ahead. Thanks!

[2021-08-11 18:55] csferng commented on #94
Closing this issue for now. Please feel free to reopen if you have any follow-up questions.

[2021-08-11 18:55] #94 closed

[2021-08-17 21:26] csferng commented on #95
Closing this issue for now. Feel free to reopen if you have any follow-up questions.

[2021-08-17 21:26] #95 closed

[2021-08-17 21:26] csferng commented on #96
Closing this issue for now. Feel free to reopen if you have any follow-up questions.

[2021-08-17 21:26] #96 closed

[2021-08-18 18:43] #61 closed

[2021-08-20 04:41] sayakpaul commented on #92
Looking forward to this feature.

For bigger datasets packing all the examples into a single TFRecord file will introduce a substantial amount of bottleneck in the overall data pipeline.

[2021-08-20 04:44] sayakpaul opened #99 "Mention the use-cases from the homepage?"
The [official introduction page](https://www.tensorflow.org/neural_structured_learning/framework) lists a couple of tutorials with NSL:

![image](https://user-images.githubusercontent.com/22957388/130180234-015f1797-c6c3-47e4-a033-5d0099930d5a.png)

I think it would make sense to also mention a few community-contributed resources there. NSL already has a [`usage.md`](https://github.com/tensorflow/

[2021-08-20 05:52] arjung commented on #99
We discussed this earlier this week and our plan is to add a reference to https://github.com/tensorflow/neural-structured-learning/tree/master/neural_structured_learning/examples from that page to direct users to other examples/notebooks demonstrating NSL. I'll assign this issue to myself for getting that done.

[2021-08-20 05:56] sayakpaul commented on #99
That's good. But I think that directory is incomplete as it does not mention the other works that use NSL heavily. If somehow that `usage.md` page could also be facilitated that would be even better.

[2021-08-20 06:13] arjung commented on #99
The goal of this section is to point users to examples and notebooks to help them get started with NSL. I think the 'examples' directory should be sufficient for that in addition to the list shown above but perhaps we'll add a pointer to `usage.md` too -- will check with the team on that. We certainly wouldn't want to duplicate what's in `usage.md` on our TF webpage though.

[2021-08-20 06:17] sayakpaul commented on #99
Yeah understood. Anything to enhance the visibility of the external use-cases could be accommodated. I believe you folks will definitely figure that out :)

[2021-08-25 01:45] #87 closed

[2021-08-25 01:47] sayakpaul opened #100 "Mentioning Denoised Smoothing?"
Recently Denoised Smoothing was added under `research/third_party`. Is it possible to mention it from the [Research](https://github.com/tensorflow/neural-structured-learning#research) section on the README?

[2021-08-31 16:35] sayakpaul opened #104 "A use-case of semi-supervised learning for images"
@arjung since semi-supervision has come a long way in computer vision. Since Neural Structured Learning has first-class support to perform semi-supervision I was thinking of example doing the following:

* Take the 10000 images randomly from CIFAR10 and also split the rest of the samples into unlabeled and validation samples.
* Train a model on this subset. This model will be some pre-trained Imag

[2021-09-06 13:51] #104 closed

[2021-09-13 21:49] arjung commented on #99
In https://github.com/tensorflow/neural-structured-learning/commit/dd44cce3a7f386fbaf49c90c28415fa2747f820a , we added links to the [examples](https://github.com/tensorflow/neural-structured-learning/tree/master/neural_structured_learning/examples) directory from https://www.tensorflow.org/neural_structured_learning/framework as well as from our top-level README file. So, am closing this issue.

[2021-09-13 21:49] #99 closed

[2021-09-13 21:58] arjung commented on #100
Yeah, we can add a line there. I think it would also be good to add an entry in https://github.com/tensorflow/neural-structured-learning/tree/master/research/README.md with more details  about that project. Would you be willing to send us a PR?

[2021-09-14 01:21] sayakpaul commented on #100
Just did: https://github.com/tensorflow/neural-structured-learning/pull/105.

I also noticed some entries are either missing or not synced in the two entries. For example, `multi_representation_adversary` is not present in either of the repositories.

[2021-09-22 18:23] aheydon-google commented on #92
Hi, Srihari. Do you have any updates to report on this issue? I think it could be quite useful! Thanks, - Allan

[2021-09-29 18:11] arjung commented on #100
Closing this per https://github.com/tensorflow/neural-structured-learning/pull/105

[2021-09-29 18:11] #100 closed

[2022-01-04 04:03] aheydon-google commented on #81
Hi, Otilia and Krishna. Can this bug be closed, now that PR #82 has been merged? Thanks.

[2022-01-11 18:30] kvis-google commented on #81
+Otilia Stretcu ***@***.***>

Hi Otilia,

 Can we close this?

On Mon, Jan 3, 2022 at 8:04 PM aheydon-google ***@***.***>
wrote:

[2022-01-11 19:03] kvis-google commented on #81
Sure. I will update the readme and push a change by the end of the week.

On Tue, Jan 11, 2022 at 10:30 AM Krishnamurthy Viswanathan ***@***.***>
wrote:

[2022-01-12 19:06] aheydon-google commented on #92
Hi again, Srihari. Are you still planning to work on this issue? I think it would be a great contribution if you can do it!

Thanks,

- Allan

[2022-02-02 20:38] #81 closed

[2022-04-04 06:52] bibudhlahiri opened #112 "Question about Unlabeled Data"
I am using your example code from the following library on a dataset created for one of our applications:
   https://www.tensorflow.org/neural_structured_learning/tutorials/graph_keras_lstm_imdb

  Can you please clarify how and where in the code the data has been split between the labeled and unlabeled sets? I see the concept of supervision ratio and see that you took 90% of the original train_da

[2022-04-05 21:01] csferng commented on #112
Thanks for the question, @bibudhlahiri !

Your understanding is correct that the validation_dataset is used as the unlabeled set.

But before training, the unlabeled set is merged with the labeled set using `nsl.tools.pack_nbrs` to create "neighbor-augmented" training examples. That is, in addition to each example's own feature (`word`), they will also contain features from its neighbors (`NL_nbr_

[2022-05-08 21:58] csferng commented on #112
Closing this issue due to inactivity. Please feel free to reopen if you have further questions.

[2022-05-08 21:58] #112 closed

[2022-05-17 03:44] wangbingnan136 opened #113 "Saving `AdversarialRegularization` models is currently not supported. Consider using `save_weights` or saving the `base_model`"
How to save the AdversarialRegularization model?

[2022-05-17 03:45] wangbingnan136 commented on #113
I used the modelcheckpoint,and it returned the "Saving AdversarialRegularization models is currently not supported. Consider using save_weights or saving the base_model" error,I found that the "save" method of AdversarialRegularization  was not implemented.

[2022-05-18 05:46] wangbingnan136 commented on #113
Thanks for reply! I have pull a request already to fix the "save" bug.It's now only save the base model of adv_model.

[2022-05-25 05:56] kabyanil opened #117 "TypeError: object of type 'AdvRegConfig' has no len()"
Hi, I'm implementing a Keras binary image classifier using VGG16 with Adversarial Regularization. After initialization of the VGG16 model layers, I'm configuring the Adversarial Regularizer using the following code -

[code]

When I execute the code, I'm getting the following error -

[code]

How do I resolve this issue?

[2022-06-06 05:04] kabyanil commented on #117
Thanks for your answer. The issue has been resolved. But I'm using ImageDataGenerator for model training, since my dataset is very large and I can't fit them in variables like X_train, y_train, X_test, y_test. Can you help me out with how I can use AdversarialRegularization with keras ImageDataGenerators?

[2022-06-06 22:28] klanderson opened #120 "AttributeError: module 'collections' has no attribute 'Mapping' - Python v3.10.4, nsl v1.3.1"
I think this needs to be changed for Python 3.10 compatibility. There error I'm getting is from `neural_structured_learning\keras\adversarial_regularization.py:236`

[code]

Here is the Python 3.9 deprecation warning text:
[code]

[2022-06-07 07:09] csferng commented on #117
Hi @kabyanil,

The `AdversarialRegularization` expects each input batch in a dictionary, so you will need a converter to convert `ImageDataGenerator` output from `(image, label)` to `{'image': image, 'label': label}`. For example:

[code]

Hope this helps.

[2022-06-08 00:25] innat opened #121 "[Query] Adversarial Attack Methods!"
It's an awesome library, thanks for creating. I've some beginner queries:

1. The NSL provides APIs for adversarial training. But if I'm not mistaken, it doesn't provide adversarial attack methods, such as FGSM, PGD, etc. Will it ever support this feature? Some other popular library (cleverhans, art, etc) provides this stuff.
2. Regarding the adversarial training, I couldn't make alignment with th

[2022-06-08 05:05] kabyanil commented on #117
Thanks for your reply. Here is my code -

[code]

I'm getting the following error -

[code]

What is the issue here?

[2022-06-08 17:35] DualityGap commented on #121
Thanks for your interest in NSL!
1. Yes, we do provide various adversarial attack methods (including FGSM, PGD, etc). See this file for more info:
https://github.com/tensorflow/neural-structured-learning/blob/master/neural_structured_learning/lib/adversarial_neighbor.py

2. Connection between the "term" NSL and adversarial example: adversarial examples can be treated as "neighbors" of the original

[2022-06-08 17:35] #121 closed

[2022-06-09 01:04] csferng commented on #117
Thanks for providing the code.

- Is `custom_vgg_model` constructed using the Keras functional API (e.g. `tf.keras.Model(inputs=..., outputs=...)`?
- What are its input (`custom_vgg_model.input_names`)?

If you use `tf.keras.Input()` to define the input tensor, you may want to add `name='image'` to name the input. If you are using `tf.keras.Sequential()` to define the model, you may also add an in

[2022-06-09 01:06] csferng commented on #120
Thanks for pointing out the issue! We will fix this in the next version. (PR is welcome!)

[2022-06-09 06:34] kabyanil commented on #117
Thanks a lot, changing the key in the converter worked for me!

Three more questions I'd like to ask -

1. How to use the validation dataset for training time validation?
2. How to plot the graphs? WIll values like loss, categorical_crossentropy, categorical_accuracy, scaled_adversarial_loss, etc. get stored in the history variable, and after training, can I plot them?
3. Is there any way to visua

[2022-06-10 08:58] csferng commented on #117
Glad that it worked :)

You may pass the `validation_data` argument to the `fit()` method. The validation data should be converted in the same way as the training data.

Yes, the loss and metric values are stored in the history variable returned by the `fit()` method, so they can be accessed after training.

You may use [TensorBoard](https://www.tensorflow.org/tensorboard) to visualize the metrics

[2022-06-11 05:31] kabyanil commented on #117
Thanks @csferng .

The training loop ran for 1 epoch and the kernel stopped. When I reconnected, the training cell had already stopped executing and the progress was gone. I assume it's a memory issue. Please note that, I have 20196 training images, 2524 validation images and 2526 testing images. Keras ImageDataGenerator flow_from_directory() is ideal because it reads the images on-the-go, keeping

[2022-06-15 07:27] csferng commented on #117
Hi @kabyanil,

The data is still read on-the-go with the `convert_to_dict_generator` function.  The converter function is a [generator function](https://wiki.python.org/moin/Generators) which "yields" a batch of data at a time, and only convert the next batch when it is requested. The additional memory consumption in the converter function is likely insignificant.

However, the adversarial regular

[2022-06-21 17:50] kabyanil commented on #117
I reduced the batch size from 8 to 2. Unfortunately, the kernel was still crashing after the first epoch. I suspected that the vgg16 model was consuming too much memory, so I tried with inception v3. Then also the kernel crashed. I am very confused now, as no errors are shown.

[2022-06-22 18:10] #113 closed

[2022-06-28 07:06] csferng commented on #117
Hi @kabyanil , sorry to hear that the error still persists. Here are a few general ways to reduce memory consumption:

- Reduce the size of data (smaller batch size, lower image resolution, subsample the data, etc)
- Use fewer layers in the network (like VGG11, ResNet8, or even smaller networks).
- Reduce the width of the network (the number of channels in convolution layers, the number of hidden

[2022-07-21 22:51] AbdAlRahman-Odeh-99 opened #122 "Base Model and Adversarial Model have the same accuracy"
Hello,
I have followed the tutorial of the adversarial training, but now I face an issue when testing the robustness of the models. In the "Robustness under Adversarial perturbations" section, both the base and adversarial model return the same accuracy (most of the time 0.500000). I don't know what the issue precisely is as I followed the tutorial. The task on which I am working is a binary class

[2022-07-21 22:55] AbdAlRahman-Odeh-99 commented on #122
Link to notebook: https://colab.research.google.com/drive/1I-55W2QBwufAQx_oD0tVXZZs7UFiSFuL?usp=sharing

[2022-07-26 07:07] csferng commented on #122
Hi @AbdAlRahman-Odeh-99 , thanks for your question!

Could you share some details on how the models are constructed, and the parameters used when compiling the model? Also, what is the accuracy on clean (non-perturbed) images?

[2022-07-27 19:11] AbdAlRahman-Odeh-99 commented on #122
Hello and thanks for your response,,
- The models are pre-trained models (vgg16, renset50, densenet121 and inceptionv3).
- I used them in a previous project and they work well. The base accuracy is around 98-99%
- The parameters are step_size of 0.2, multiplier 0.2, and L2 regularizer
- In addition, I have a question, is it possible for the base model to have the same robustness as the adversarial

[2022-07-29 09:21] csferng commented on #122
Thanks, @AbdAlRahman-Odeh-99.

I am not sure the 0.500000 accuracy on the adversarial test set is due to a bad model or a bug in evaluation setting. The latter is somewhat suspicious because the accuracy number was exactly the same. May I know how many examples in the test set? Also, what is `HPARAMS.batch_size` and `current_step` after the code you pasted was run?

Is this accuracy on clean testi

[2022-08-10 17:17] csferng commented on #117
Closing this issue as it has no activity in 30 days. Please feel free to reopen if you have more questions.

[2022-08-10 17:17] #117 closed

[2022-09-21 17:33] csferng commented on #122
Closing this issue due to inactivity in 30 days. Please feel free to reopen if you have more questions.

[2022-09-21 17:33] #122 closed

[2022-09-25 03:29] UdaDyFigo opened #123 "Questions about "Adversarial Robustness Across Representation Spaces""
Dear author, the findings in your paper is quite interesting. However, I am still confused about the purpose of this paper. In Introduction section, you said "However, given that the adversary has full access to the input x, apriori there is no reason to restrict the perturbations to only the pixel representations." Does any existing works have shown that, AEs generated on pixel-image trained mode

[2022-09-25 03:53] #123 closed

[2022-11-02 07:29] jhss opened #124 "Apply adversarial training after few epochs."
I want to train the model without adversarial attack at the first two epochs.
After that, I would like to train the model with adversarial learning.

In summary,

1 epoch: Training w/o adversarial
2 epoch: Training w/o adversarial
3 epoch: Training with adversarial
4 epoch: Training with adversarial
....

Is it possible to adjust the start epoch of the adversarial training?
I couldn't find any rel

[2022-11-04 07:29] csferng commented on #124
Hi @jhss, thanks for the question.

You're right that `make_adv_reg_config` doesn't have such parameter for delaying the adversarial training. Instead, you may train a base model for a few epochs before wrapping it with `nsl.keras.AdversarialRegularization`. This achieves the desired behavior because an `AdversarialRegularization`-wrapped model and its base model share the model variables. The fol

[2022-11-22 17:34] madarax64 opened #127 "Clarification on attacks used in Adversarial Training"
Hello,
I was trying to use NSL to implement adversarial training on my custom model, so I followed the default steps in the tutorial video, which worked like a charm. While studying the code, I noticed that the call to `make_adv_reg_config()` has a parameter called `pgd_epsilon`, which is "...Only used in Projected Gradient Descent (PGD) attack".

This statement suggests that NSL can use different

[2022-11-29 19:00] csferng commented on #127
Thanks for the question, @madarax64!

NSL supports both PGD attack and Fast Gradient Sign Method (FGSM) attack. Given that FGSM is a special case of PGD, the same PGD procedure resembles FGSM attack when `pgd_iteration=1`, `random_init=False`, and `adv_grad_norm='infinity'`.

The parameter `pgd_epsilon` is only needed when `pgd_iteration > 1`, to control per-iteration step size. The parameter `adv